{% extends "pages/page.html" %}
{% load staticfiles cache humanize %}
{% load widgets util_tags %}
{% load templateutils_tags %}

{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block before_main %}{% include "pages/menus/breadcrumb_shortcut.haml" with latest_name=topic.name %}{% endblock %}
{% block meta_title %}
    {{ topic.name }} | {{ block.super }}
{% endblock %}

{% block main %}
{% with page_num=request.GET.page %}
    {% cache 3600 topics_detail_main request.path_info page_num %}
    <div class="h20 clear"></div>
    <div class="chlist w980">
        {% include_widget TopicsDetailInformationWidget slug=topic.slug %}
    </div>

    <div class="sort w980 clear">
        <div class="scont">
        {% include_widget TopicsPackageListWidget slug=topic.slug page=page_num %}
        </div>
    </div>
    {% endcache %}
{% endwith %}
{% endblock %}
