-load i18n
-load less

%header.navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top{role:'banner'}
  .container
    .row
      .col-xs-2.col-lg-2
        %a.navbar-brand{href:'javascript:window.history.back();'}
          %i.logo.glyphicon.glyphicon-chevron-left &nbsp;
      .col-xs-8.col-lg-8.text-center.header-title<
        %h3{'data-placement': 'bottom',
            'data-toggle': 'tooltip',
            'data-trigger': 'click',
            'title': '={html_title}'}= title
      .col-xs-2.col-lg-2
        %a.pull-right.btn.btn-lg.glyphicon.glyphicon-cloud-download{href: '={download|default:"#"}',
          itemprop: 'downloadUrl'}

%script{type: 'text/javascript'}
  jQuery(function($){
    self = $('header h3').tooltip();
  });
