-load templatehelper_tags url_tags util_tags
{% url 'package_detail_default' pk=package.id package_name=package.package_name as dt_url %}
-with title=package.title star=package.star dw_size=package.download_size dw_count=package.download_count cat_name=package.category_name cover_url=package.cover_middle|default:package.cover
  {% qurl package.download entrytype=product as dw_url %}
  %a{:href => "={dt_url}", :title => "={title}"}<
    %img.lazy{:alt => "={title}", "data-original" => "{{ cover_url }}"}
    %h3.l= title|slice:"10"
    .r.ios-web-icon.star{:class => "s={star|floatformat:'0'}"}
  %p.cl.des.g9= package.summary|default:''
  %p.l.g9 {{ dw_size|filesizeformat }} | {{ dw_count|default:0|intwordcn }}+下载
  %p.r= cat_name
  .btn-s.abs{:style => "display:none"}
    -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
    %a.a2{:href => "={dw_url}", :class => "app-download-btn-js"} 下载
