{% extends "apksite/base_product.haml" %}
{% load staticfiles templatehelper_tags url_tags mezzanine_tags keyword_tags %}
{% block meta_title %}{% if page.title %}{{ page.title }}-{{ settings.SITE_TITLE }}{% else %}虫虫助手客户端下载-虫虫游戏{% endif %}{% endblock %}
{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}
{% block extra_meta %}{% endblock %}

{% block extra_js_header  %}
    <script>
        //判断设备跳转
        (function(W){
            if(/(iphone)|(ip[oa]d)/i.test(navigator.userAgent.toLowerCase()) || /samsung|HTC|android/i.test(navigator.userAgent.toLowerCase())){
                W.location.href = '{% url "product_mobile_page" %}';
            }
        })(window)
    </script>
{% endblock %}
{% block platform_css %}{{ block.super }}<link href="{% static 'product/css/site-201505.css' %}" media="all" rel="stylesheet" type="text/css" />{% endblock %}

{% block main %}
<div class="product-box">

    <!--虫虫助手 开始 cc-assistant-->
    <div class="product-item cc-assistant">

        <!--介绍和下载 开始Introduction-->
        <div class="Introduction">
            <div class="auto width">
                <div class="l phone"></div>

                <div class="l down">
                    <div class="top">
                        <h2>虫虫助手</h2>
                        <p>为HardCore的游戏玩家提供<br/>第一手的海内外精品游戏！</p>
                    </div>

                    <div class="down-btn">
                        <div class="l">
                            {% if android_last %}{% with app=android_last %}
                            <a href="{{ app.download }}" class="button android">
                                <span class="icon"></span>
                                {{ app.platformName }}下载
                                        <span class="text">
                                            <em>版本：{{ app.versionName }}</em>
                                            <em>更新：{{ app.releasedDatetime|slice:":10" }}</em>
                                        </span>
                            </a>{% endwith %}
                            {% endif %}

                            {% if ios_last %}{% with app=ios_last %}
                                <a href="{{ app.download }}" class="button IOS">
                                    <span class="icon"></span>
                                    {{ app.platformName }}下载
                                        <span class="text">
                                            <em>版本：{{ app.versionName }}</em>
                                            <em>更新：{{ app.releasedDatetime|slice:":10" }}</em>
                                        </span>
                                </a>{% endwith %}
                            {% else %}
                            <a href="javascript:alert('感谢参与Beta测试版的虫粉，敬请期待苹果正式版！')" class="button IOS disable">
                                <span class="icon"></span>
                                苹果版下载
                                      <span class="text">
                                          敬请期待正式版！
                                      </span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="r qr-code">
                            <span><img src="{% static 'common/img/big-code.png' %}" />扫一扫 立即下载</span>
                        </div>
                    </div>
                </div>
                <div class="cl"></div>
            </div>
        </div>

        <!--更新日志 开始Update-log-->
        <div class="cell-bk Update-log">
            <div class="auto width">

                <div class="rel timeline">
                    <span class="t-l-clock"></span>

                    <div class="p-l-title">
                        <h3 class="abs n f28">更新日志</h3>
                        <p class="abs f16">
                            <a href="http://bbs.ccplay.cc/thread-37344-1-1.html" target="_blank">常见问题</a>
                            <a href="http://bbs.ccplay.cc/forum-2-1.html" target="_blank">问题反馈</a>
                        </p>
                    </div>

                    <div class="item-box" id="item-box">

                        {% for app in clients %}
                        <div class="item">
                            <div class="f20 i-title">
                                虫虫助手 v{{ app.versionName }} {{ app.platformName }} {% if forloop.first %}<span class="red f14">(最新)</span>{% endif %}<span class="r f14">更新：{{ app.releasedDatetime|slice:":10" }}</span>
                            </div>
                            <div class="f14 lh24 i-info">
                                <b>更新内容：</b>
                                <p>{{ app.whatsnew|linebreaksbr }}</p>
                            </div>
                        </div><!--item-->
                        {% endfor %}

                    </div><!--item-box-->


                    <div class="fix"></div>
                </div><!--timeline-->

            </div><!--auto-->

        </div>
        <!--更新日志 结束 Update-log-->

    </div>
    <!--虫虫助手 结束 cc-assistant-->

</div><!--/.product-box-->
{% endblock %}
