-load staticfiles url_tags templatehelper_tags user_agents
{% is_site_android as is_android %}{% is_site_ios as is_ios %}
.float-five.f-1
  %dl
    %dt.f14 关于我们
    - for p in menus_aboutus
      %dd
        %a{:target => "_blank", :href => "={p.full_url}"}= p.title
.float-five.f-2
  %dl
    %dt.f14 关注我们
    %dd
      %a.ios-web-icon.i-1{:target => "_blank", :href => "http://weibo.com/ccyxpt"} 新浪微博
    %dd
      %a.ios-web-icon.i-2{:target => "_blank", :href => "http://t.qq.com/ccyxpt"} 腾讯微博
    %dd.weixin-code
      %a.ios-web-icon.i-3{:target => "_blank", :href => "javascript:;"} 官方微信
      %img.dn.abs{:src => "{% static 'common/img/cc-weixin-code.png' %}"}/
.float-five.tc.f-3
  %a.ios-web-icon.f-logo{:href => "javascript:;"}
.float-five.tl.f-4
  %dl.r
    %dt.f14 虫虫助手
    - for p in menus_helpers
      %dd<
        %a.ios-web-icon{:target => "_blank", :class => "={p.cls}", :href => "={p.full_url}"}= p.title
-if is_android
  .float-five.tr.f-5
    %dl
      %dd.g9 扫描Android版二维码
      %dd
        {% qurl "http://qr.liantu.com/api.php" m=5 w=108 el='l' text=product_url as client_qr_url %}
        %img{:src => "={client_qr_url}", :width => "108"}/
.cl.tc.pt20<
  Copyright &copy;
  :javascript
    var yearStr;now = new Date();yearStr = now.getFullYear();document.write(yearStr);
  Shanghai Zhangyue Technology Co.,Ltd  All Rights Reserved.<br/>上海掌越科技有限公司 版权所有
