-load staticfiles
.cc-down-tip-box
  .p20
    %a{:href => "http://ccplay.com.cn/product/"}
      %img.pct80{:src => "{% static 'common/img/cc-down-tip.png' %}"}/
    .r.dib.p20.mt5.poi.browsers_ad_close_gray
      %img{:src => "{% static 'android_mobile/img/browsers_ad_close_gray.png' %}"}/