-load url_tags util_tags templatehelper_tags
{% is_site_android as is_android %}{% is_site_ios as is_ios %}
-with version=package.versions.latest_published title=version.subtitle|default:package.title
  {% absolute_url_as package product=product as detail_url %}
  {% download_url_as version product=product as dw_url %}
  %dl.dib.rel.app-list-xl
    %dt.abs
      %a.pic{:href => "={detail_url}", :title => "={title}"}
        %img{:src => "{% resource_url version 'icon' size_alias='large' %}", :alt => "={title}"}
          %span.ios-web-icon.abs
    %dd.g9.pt5
      %h3.n.rel.g3.f16
        %a{:href => "={detail_url}", :title => "={title}"}= title
      -if is_android
        %p
          {{ version.get_download_size|filesizeformat }}
          %em> |
          {{ version.download_count|intwordcn }}+下载
        %p= package.main_category.name
      -if is_ios
        %p
          = package.main_category.name
          %em> |
          {{ version.download_count|default:0|intwordcn }}+下载
        -with iversion=version.as_ios
          -if not iversion.is_free
            %p.price.gr= iversion.formatted_price
          -else
            %p 免费
      .ios-web-icon.star{:class => "s={version.stars_average|floatformat:'0'}"}
      .btn-s
        -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
        %a.a2{:href => "={dw_url}", :class => "app-download-btn-js"} 下载
