-load util_tags url_tags
.f18.cell.rel.t-title
  %ul.l.abs.cell-bk.f16
    %li.ios-web-icon.dib.tab.tc
      %a{:href => "#"}= title
  .rel.tab-more
    %a.r.f12.mt5.more{:href => "={more_url}"} 更多&gt;
/ t-title

.app-list-right
  %ol
    -for package in items
      -with version=package.versions.latest_published title=version.subtitle|default:package.title
        {% absolute_url_as package product=product as detail_url %}
        %li.rel
          %b.l{:class => "{% if forloop.counter <= 3 %}gr{% endif %}"}= forloop.counter
          %a.l{:href => "={detail_url}"}
            %img{:src => "{% resource_url version 'icon' %}"}
              %span.ios-web-icon.abs
          %h3.n
            %a{:href => "={detail}"}= title
          %p.g9
            {{ version.get_download_size|filesizeformat }}
            %em> |
            {{ version.download_count|default:0|intwordcn }}+下载
          .btn-s
            %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
            %a.a2{:href => "javascript:;", :class => "app-download-btn-js"} 下载

/ app-list-right