-load util_tags url_tags
.f18.cell-bk.rel.t-title
  %ul.l.abs.cell-bk.f16
    %li.ios-web-icon.dib.tab.tc
      %a{:href => "#"}= title
  .rel.tab-more
    %a.r.f12.mt5.more{:href => "={more_url}"} 更多&gt;
/ t-title

.app-list-right
  %ol
    -for pkg in items
      -with ver=pkg.versions.latest_published ptitle=ver.subtitle|default:pkg.title
        {% absolute_url_as pkg product=product as detail_url %}
        - if is_ios
          {% download_url_as ver is_dynamic=0 product=product as dw_url %}
        - else
          {% download_url_as ver product=product as dw_url %}
        %li.rel
          %b.l{:class => "{% if forloop.counter <= 3 %}gr{% endif %}"}= forloop.counter
          %a.l{:href => "={detail_url}", :title => "={ptitle}"}
            %img{:src => "{% resource_url ver 'icon' size_alias='large' %}"}
              %span.ios-web-icon.abs
          %h3.n
            %a{:href => "={detail_url}", :title => "={ptitle}" }><
              = ptitle
          %p.g9
            {{ ver.get_download_size|filesizeformat }}
            %em> |
            {{ ver.download_count|default:0|intwordcn }}+下载
          .btn-s
            -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
            %a.a2{:href => "={dw_url}", :class => "app-download-btn-js"} 下载

/ app-list-right