-load url_tags
- if item
  %a{:href => "{% absolute_url item product=product %}",
     :title => "={item.title}",
     :target => "={item.target}"}
    %img{:src => "{% resource_url item 'cover' %}"}/
