.cell-bk.rel.bdc.box
  %form
    .diy_select
      %input.diy_select_input{:name => "", :type => "hidden"}
        .diy_select_txt.select.poi 游戏
        .ios-web-icon.abs.diy_select_btn.poi
        %ul.diy_select_list{:style => "display: none;"}
          %li 游戏
          %li 软件
    %input.f14.fw.key{:autofocus => "", :type => "text", :value => "", "x-webkit-speech" => ""}
      %button.ios-web-icon.bd-none.poi.abs 搜索
  / 搜索提示
  #search-drop.abs.search-drop.dn
    .bdc.rel.bg-white.lh28.f14.search-drop-box
      %a{:href => "http://static.ccplay.com.cn/static/ios_web/html/game-search.html", :target => "_blank", :title => "链接名称"} 消除之星PopStar!
      %a{:href => "#", :target => "_blank", :title => "链接名称"} 狂野飙车7：极速热力
      %a{:href => "#", :target => "_blank", :title => "链接名称"} 飞行背囊/火箭飞人 Jetpack
      %a{:href => "#", :target => "_blank", :title => "链接名称"} 水果忍者切西瓜 Fruit Ninja
      %a{:href => "#", :target => "_blank", :title => "链接名称"} 节奏大师
  / 搜索提示