.cell-bk.rel.bdc.box
  %form{:action => "/search/"}
    .diy_select
      %input.diy_select_input{:name => "cat", :value => "={request.GET.cat}", :type => "hidden"}
        .diy_select_txt.select.poi<
          -if request.GET.cat == 'application'
            软件
          -else
            游戏
        .ios-web-icon.abs.diy_select_btn.poi
        %ul.diy_select_list{:style => "display: none;"}
          %li{:data => "game" } 游戏
          %li{:data => "application" } 软件
    %input.f14.fw.key{:autofocus => "", :name => "q", :type => "text", :value => "={request.GET.q}", "x-webkit-speech" => ""}
      %button.ios-web-icon.bd-none.poi.abs 搜索
  / 搜索提示
  #search-drop.abs.search-drop.dn
    .bdc.rel.bg-white.lh28.f14.search-drop-box
      %a{:href => "", :target => "_blank", :title => "链接名称"} 消除之星PopStar!
  / 搜索提示