.version.index /* version checker */
{
	color: #0000F1;
	background-color: #43B19E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 2330px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u167
{
	z-index: 12;
	width: 1000px;
	background-color: transparent;
	position: relative;
}

#pu173
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: -4px;
}

#u173
{
	z-index: 14;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u161
{
	z-index: 10;
	width: 213px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 391px;
}

#pu350
{
	width: 0.01px;
	margin-top: 16px;
}

#u350
{
	z-index: 87;
	width: 1000px;
	height: 563px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u367
{
	z-index: 88;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u373
{
	z-index: 90;
	width: 86px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 900px;
}

#pu415
{
	width: 0.01px;
}

#u415
{
	z-index: 16;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u421
{
	z-index: 18;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 250px;
}

#u426
{
	z-index: 20;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u431
{
	z-index: 22;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 750px;
}

#u179-4
{
	z-index: 24;
	width: 1000px;
	background-color: transparent;
	font-size: 24px;
	line-height: 39px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u181-10
{
	z-index: 28;
	width: 125px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 63px;
}

#u182-10
{
	z-index: 38;
	width: 127px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 312px;
}

#u183-8
{
	z-index: 48;
	width: 119px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 566px;
}

#u184-7
{
	z-index: 56;
	width: 127px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 812px;
}

#u181-2,#u182-2,#u183-2,#u184-2
{
	font-size: 20px;
	line-height: 36px;
}

#u181-4,#u181-6,#u181-8,#u182-4,#u182-6,#u182-8,#u183-4,#u183-6,#u184-4
{
	line-height: 25px;
}

#u409
{
	z-index: 96;
	width: 346px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 344px;
}

#pu112
{
	width: 0.01px;
	margin-top: 47px;
}

#u112
{
	z-index: 2;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u185-6
{
	z-index: 63;
	width: 596px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u119
{
	z-index: 4;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u186-6
{
	z-index: 69;
	width: 596px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#pu119,#pu125
{
	width: 0.01px;
	margin-top: 11px;
}

#u125
{
	z-index: 6;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u187-6
{
	z-index: 75;
	width: 596px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#pu131
{
	width: 0.01px;
	margin-top: 9px;
}

#u131
{
	z-index: 8;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u188-6
{
	z-index: 81;
	width: 596px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u185-2,#u186-2,#u187-2,#u188-2
{
	font-size: 24px;
	line-height: 43px;
}

#u185-4,#u186-4,#u187-4,#u188-4
{
	font-size: 18px;
	line-height: 32px;
}

#u397
{
	z-index: 94;
	width: 510px;
	background-color: transparent;
	margin-left: 258px;
	margin-top: 109px;
	position: relative;
}

#u391
{
	z-index: 92;
	width: 1000px;
	background-color: transparent;
	top: -220px;
	margin-bottom: -220px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

