.crack-page{margin-top:-180px; *overflow:hidden; z-index:2}

.most-expensive .t-title h3 .ios-web-icon{background-position:-187px -67px}
.crack-banner .bg-c{filter: alpha(opacity=80);opacity: 0.8}
.crack-page .t-title{background:none; border-bottom-color:#ccc}

.crack-list-right li.hover .ios-web-icon,.crack-list-right .ios-web-icon{left:14px}
.qy-btn{width:230px}

#cc-m .crack-page .crack-list-right,#cc-m .crack-page .crack-list-right .pin-box,#cc-s .crack-page .crack-list-right,#cc-s .crack-page .crack-list-right .pin-box{width:240px; margin-left:0}

#cc-m .crack-page .time-list{width:730px}

.crack-page .app-list-right a span.ios-web-icon{left:14px}

.relevant-app{height:165px}


#cc-l .relevant-app .app-list-min{width:97px}
#cc-l .relevant-app .ios-web-icon.auto{left:13px}





#cc-s .nav .l li{width:68px}
#cc-s .crack-page .most-expensive{width:100%}
#cc-s .crack-page .time-list {width: 485px}









#fixed-head #cc-l .search{margin-left:490px}
#fixed-head #cc-l .nav .l li{width:80px}
#fixed-head #cc-m .search{margin-left:435px}
#fixed-head #cc-m  .nav .l li{width:68px}
