.logo a{display:inline-block; height:50px; background:url(http://static.ccplay.com.cn/static/android_web/img/logo.png) no-repeat}
.logo a img{opacity: 0; filter: alpha(opacity=0)}
.login .logo a{background-image: url(http://static.ccplay.com.cn/static/common/img/user-icon.png);
background-repeat: no-repeat;}


.crack-page{margin-top:-180px; *overflow:hidden; z-index:2}

.most-expensive .t-title h3 .ios-web-icon{background-position:-187px -67px}
.crack-banner .bg-c{filter: alpha(opacity=80);opacity: 0.8}
.crack-page .t-title{background:none; border-bottom-color:#ccc}

.crack-list-right li.hover .ios-web-icon,.crack-list-right .ios-web-icon{left:14px}
.qy-btn{width:230px}

#cc-m .crack-page .crack-list-right,#cc-m .crack-page .crack-list-right .pin-box,#cc-s .crack-page .crack-list-right,#cc-s .crack-page .crack-list-right .pin-box{width:240px; margin-left:0}

#cc-m .crack-page .time-list{width:730px}

.crack-page .app-list-right a span.ios-web-icon{left:14px}

.relevant-app{height:165px}


#cc-l .relevant-app .app-list-min{width:97px}
#cc-l .relevant-app .ios-web-icon.auto{left:13px}




#cc-s .crack-page .most-expensive{width:100%}
#cc-s .crack-page .time-list {width: 485px}
#cc-s .nav .l li{width:68px}
#fixed-head #cc-l .search{margin-left:490px}
#fixed-head #cc-l .nav .l li{width:80px}
#fixed-head #cc-m .search{margin-left:435px}
#fixed-head #cc-m  .nav .l li{width:68px}



/*v1*/

.multi{margin-top:-60px}
.hot-news .t-title{border-bottom-color:#e53333}

.hot-news .t-title h3 .ios-web-icon{background-position:-166px -67px; left:55px}
.hot-news .time-box-t{background:url(http://static.ccplay.com.cn/static/common/img/time-line-2.png) 47px bottom no-repeat; padding-bottom:40px}
.hot-news .time-box-b{background:url(http://static.ccplay.com.cn/static/common/img/time-line-1.png) 47px 0 repeat-y}


.app-list-l .pic .ios-web-icon{background-position:0px -663px}
.most-expensive .t-title{border-bottom-color:#ccc}
.most-list{background:#f8f8f8}

.crack-rcd{padding:0 15px}
.crack-rcd .app-list-xl{width:100%; padding:0; margin-top:20px}
.crack-rcd .app-list-xl .lh20{height:40px; overflow:hidden}
.crack-rcd .app-list-xl dd{padding-left:105px}
#cc-m .crack-rcd{width:390px}

#cc-s .nav .l li{width:83px}
#cc-s .nav .drop-down a,#fixed-head #cc-s .nav .drop-down a{padding:0 20px}
#fixed-head #cc-l .search{margin-left:490px}
#fixed-head #cc-l .nav .l li{width:80px}

#fixed-head #cc-m .search{margin-left:435px}
#fixed-head #cc-m .nav .l li,#fixed-head #cc-l .nav .l li{width:8%}
#fixed-head #cc-m .nav .l li a,#fixed-head #cc-l .nav .l li a{letter-spacing:5px}
#fixed-head #cc-l .nav li .drop-down a{letter-spacing:0; padding:0 10px}




.hot-news .t-title{border-bottom-color:#e53333}

.hot-news .t-title h3 .ios-web-icon{background-position:-187px -67px; left:55px}
.hot-news .time-box-t{background:url(http://static.ccplay.com.cn/static/common/img/time-line-2.png) 47px bottom no-repeat; padding-bottom:40px}
.hot-news .time-box-b{background:url(http://static.ccplay.com.cn/static/common/img/time-line-1.png) 47px 0 repeat-y}
#cc-s .nav .l li{width:75px}
#cc-s .nav .drop-down a,#fixed-head #cc-s .nav .drop-down a{padding:0 15px}
#fixed-head #cc-l .search{margin-left:490px}
#fixed-head #cc-l .nav .l li{width:80px}
#fixed-head #cc-m .search{margin-left:435px}
#fixed-head #cc-m .nav .l li,#fixed-head #cc-l .nav .l li{width:7%}
#fixed-head #cc-m .nav .l li a,#fixed-head #cc-l .nav .l li a{letter-spacing:5px}
#fixed-head #cc-l .nav li .drop-down a{letter-spacing:0; padding:0px}
