-extends 'pages/page_web.html'
-load widgets url_tags templatehelper_tags web_tags cache_tagging_tags
-load web_tags

-block main
  {% with c_cat=category.slug c_topic=request.GET.topic|default:'0' c_page=request.GET.page|default:'1' %} {% get_site_name as site_name %}
  {% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT_HOURS' as CACHE_TIMEOUT_HOURS %}{% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT_DAYS' as CACHE_TIMEOUT_DAYS %}
  {% cache_tagging 'product_web_category'|add_param:site_name|add_param:c_cat|add_param:c_topic|add_param:c_page timeout=CACHE_TIMEOUT_HOURS %}{% spaceless %}
  {% cache_add_tags request.get_host|add:request.path_info request.build_absolute_uri %}
  {% cache_add_tags 'category_page'|add_param:c_cat %}
  / START 应用列表 app-list-page
  .auto.mt30.width.app-list-page.minheight-page
    {% is_site_android as is_android %}{% is_site_ios as is_ios %}
    {% widget WebCategorySelectorWidget root_category=root_category %}
    .cell
      .f18.cell.rel.t-title
        %h3.l.n.mr30 {% if is_android %}安卓{% endif %}{% if is_ios %}苹果{% endif %}{{ root_category.name }}
        %ul.l.abs.cell-bk.f16
          -for select in second_selectlist
            -if select.params.topic != topic.pk or select.params.lang != lang
              %li.dib.pl10.pr10.tab
                %a{:href => "{% qurl request.get_full_path topic=select.params.topic lang=select.params.lang page=None %}"}= select.name
            -else
              %li.dib.pl10.pr10.tab.ios-web-icon
                %a{:href => "javascript:;"}= select.name
      / t-title
    / cell

    .rel.cell-bk
      .l.left-list
        %ul.f14.left-nav
          -for cat in category_selectlist
            %li
              -ifequal category.pk cat.pk
                %a.hover{:href => "javascript:;"}
                  -if cat.is_root_node
                    全部
                  -else
                    = cat.name
                  %span.r
              -else
                {% qurl request.get_full_path category=cat.pk topic=None lang=None page=None as second_url %}
                -if cat.is_root_node
                  %a{:href => "{% qurl second_url category=None %}"}
                    全部
                    %span.r
                -else
                  %a{:href => "={second_url}"}
                    = cat.name
                    %span.r

      {% widget WebCategoryComplexPackageBySearchList category=category topic=topic lang=lang per_page=27 page=request.GET.page %}
      .l.btn-s-box.tj.p20.right-list
        -for package in items
          {% cache_location_register tags=package.get_all_cache_identifier_tags %}
          {% package_box2 package %}
        {% pagination items %}
      / right-list
      {% endwidget %}

    / cell-bk
    {% endwidget %}

  / END 应用列表 app-list-page
  {% endspaceless %}{% end_cache_tagging %}
  {% endwith %}
