-extends "pages/page_web.html"
-load widgets url_tags templatehelper_tags web_tags cache
{% block meta_title %}{{ request.GET.q }}{% endblock %}
-block main
  {% with c_cat=request.GET.cat|default:root_category.slug c_q=request.GET.q c_page=request.GET.page|default:1 %}
  {% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT_HOURS' as CACHE_TIMEOUT_HOURS %}{% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT_DAYS' as CACHE_TIMEOUT_DAYS %}
  {% cache CACHE_TIMEOUT_HOURS product_web_search request.get_host request.path_info c_cat c_q c_page %}
  / START 应用列表 app-list-page
  .auto.mt30.width.app-list-page

    {% widget WebSearchPackageListWidget q=request.GET.q cat=root_category.slug per_page=27 page=request.GET.page %}
    .cell
      .f18.cell.rel.t-title
        %h3.l.n.mr30
          搜索相关结果约{{ paginator.count|default:0 }}个与<span class="ml5 mr5 red">“{{ request.GET.q }}”</span>相关的{{ root_category.name }}
      / t-title
    / cell

    .rel.cell-bk
      {% cache CACHE_TIMEOUT_DAYS product_web_search_leftmenu request.get_host request.path_info c_cat %}
      {% widget WebSearchCategorySelectorWidget root_category=root_category %}
      .l.left-list
        %ul.f14.left-nav
          -for cat in category_selectlist
            %li
              -ifequal category.pk cat.pk
                %a.hover{:href => "javascript:;"}
                  -if cat.is_root_node
                    全部
                  -else
                    = cat.name
                  %span.r
              -else
                -if cat.is_root_node
                  %a{:href => "{% absolute_url cat product=product %}"}
                    全部
                    %span.r
                -else
                  %a{:href => "{% absolute_url cat product=product %}"}
                    = cat.name
                    %span.r
          %li
            %a{:href => "" }
              = cat.name
              %span.r
      {% endwidget %}
      {% endcache %}

      .l.btn-s-box.tj.p20.right-list
        -for search_item in items
          {% package_box2 search_item %}
        {% pagination items %}
      / right-list
    {% endwidget %}
  {% endcache %}
  {% endwith %}
