{% extends "pages/page_web.html" %}
{% load cache widgets templatehelper_tags web_tags %}
{% block main %}
    {% with c_page=request.GET.page|default:1 %}
    {% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT' as TEMPLATE_CACHE_TIMEOUT %}
    {% cache TEMPLATE_CACHE_TIMEOUT product_web_masterpiece request.get_host request.path_info c_page %}
<!-- START 巨作 开始 masterpiece-->
<div class="auto mt30 width masterpiece minheight-page">
    <div class="cell-bk mb30">
        {% settings_value 'GC_TOPICS_MASTERPIECE_SLUG' as masterpiece_slug %}
        {% widget WebMasterpiecePackageListWidget slug=masterpiece_slug page=request.GET.page per_page=12 %}
            {% for package in items %}
            <div class="maste_lsit">
            {% include "pages/widgets/masterpiece/package-list.haml" with package=package %}
            </div>
            {% endfor %}
        {% pagination items %}
        {% endwidget %}
    </div><!--cell-bk-->
</div>
<!-- END 巨作 结束 masterpiece-->
    {% endcache %}
    {% endwith %}
{% endblock %}
