{% extends "pages/page_web.html" %}
{% load cache_tagging_tags widgets templatehelper_tags web_tags %}
{% block main %}
    {% with c_page=request.GET.page|default:'1' %}
    {% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT_DAYS' as CACHE_TIMEOUT_DAYS %}
    {% cache_tagging 'product_web_masterpiece.'|add:c_page request.get_host 'page:'|add:request.path_info timeout=CACHE_TIMEOUT_DAYS %}
<!-- START 巨作 开始 masterpiece-->
<div class="auto mt30 width masterpiece minheight-page">
    <div class="cell-bk mb30">
        {% settings_value 'GC_TOPICS_MASTERPIECE_SLUG' as masterpiece_slug %}
        {% widget WebMasterpiecePackageListWidget slug=masterpiece_slug page=request.GET.page per_page=12 %}
            {% for package in items %}
            <div class="maste_lsit">
            {% cache_add_tags package.get_all_cache_identifier_tags %}
            {% include "pages/widgets/masterpiece/package-list.haml" with package=package %}
            </div>
            {% endfor %}
        {% pagination items %}
        {% endwidget %}
    </div><!--cell-bk-->
</div>
<!-- END 巨作 结束 masterpiece-->
    {% end_cache_tagging %}
    {% endwith %}
{% endblock %}
