{% extends "pages/page_web.html" %}
{% load cache widgets templatehelper_tags %}

{% block main %}
    {% with c_cat=category.slug %}
    {% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT_DAYS' as CACHE_TIMEOUT_DAYS %}
    {% cache CACHE_TIMEOUT_DAYS product_web_ranking request.get_host request.path_info c_cat %}
<!-- START 排行 开始 top-page-->
<div class="auto mt30 width top-page">
    <div class="pb30 cell-bk btn-s-box">

        <!--下载榜 down-top-->
        <div class="float-three down-top">
            <div class="mr10">
            {% settings_value "GC_RANKING_C1_RT_SLUG" as C1_RT_SLUG %}
            {% include_widget WebRankingDetailPackageListWidget cat_slug=category.slug ranking_slug=C1_RT_SLUG %}
            </div>
        </div>
        <!--下载榜 down-top-->

        <!--推荐榜 rcd-top-->
        <div class="float-three rcd-top">
            <div class="ml20 mr20">
            {% settings_value "GC_RANKING_C2_RT_SLUG" as C2_RT_SLUG %}
            {% include_widget WebRankingDetailPackageListWidget cat_slug=category.slug ranking_slug=C2_RT_SLUG %}
            </div>
        </div>
        <!--推荐榜 rcd-top-->

        <!--官方榜 cc-top-->
        <div class="float-three cc-top">
            <div class="ml10">
            {% settings_value "GC_RANKING_C3_RT_SLUG" as C3_RT_SLUG %}
            {% include_widget WebRankingDetailPackageListWidget cat_slug=category.slug ranking_slug=C3_RT_SLUG %}
            </div>
        </div>
        <!--官方榜 cc-top-->

    </div>
</div>
<!-- END 排行 结束 top-page-->
    {% endcache %}
    {% endwith %}
{% endblock %}