-load staticfiles
%ul
  #demo
    #indemo
      #demo1
        %li
          %span 巨作专栏 1
          %img{height :"120", src :'{% static "images/mcol01.jpg" %}', width :"230"}/
        %li
          %span 巨作专栏 2
          %img{height :"120", src :'{% static "images/mcol02.jpg" %}', width :"230"}/
        %li
          %span 巨作专栏 3
          %img{height :"120", src :'{% static "images/mcol03.jpg" %}', width :"230"}/
        %li
          %span 巨作专栏 4
          %img{height :"120", src :'{% static "images/mcol04.jpg" %}', width :"230"}/
      #demo2
  %script{src :'{% static "js/li.js" %}', type :"text/javascript"}
