%h3
  %span.right>
    %a{:href =>"#"} 更多 &gt;
  顶级开发商
%ul.clear
  %li
    %time 02-06
    %a{:href =>"#"} 板块名 | 帖子标题不分行，悬停有
  %li
    %time 02-06
    %a{:href =>"#"} 板块名 | 帖子标题不分行 …
  %li
    %time 02-06
    %a{:href =>"#"} 板块名 | 帖子标题不分行，悬停有
  %li
    %time 02-06
    %a{:href =>"#"} 板块名 | 帖子标题不分行
  %li
    %time 02-06
    %a{:href =>"#"} 板块名 | 帖子标题不分行，悬停有
