-load staticfiles
%script{type :'text/javascript', src :'{% static "js/jquery.SuperSlide.2.1.1.js" %}'}
%h3
  %span.right
    %a{href :"#"} 更多 &gt;
  %span.em<
    %b.h4bg
    游戏分类
.hd.left
  %ul
    %li.on 大型游戏
    %li 破解游戏
    %li 中文游戏
    %li 网络游戏
    %li 休闲益智
    %li 动作射击
.bd.left
  %ul
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
  %ul{style :"display:none"}
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
  %ul{style :"display:none"}
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
  %ul{style :"display:none"}
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
  %ul{style :"display:none"}
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
  %ul{style :"display:none"}
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
    %li<
      %img{height :"72", width :"72", src :'{% static "images/01.png" %}'}
      %span<
        %a{href: "#"} 标题不行...
  :javascript
    jQuery(".msort").slide();

