-load staticfiles
%h3
  %span
    %a{href :"#"} 申请
  %img{align :"absmiddle", height :"29", src :'{% static "images/himg.png" %}', width :"29"} 友情链接
%ul
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
  %li
    %a{href :"#"} 友情链接名称
