-load staticfiles
%ul#slides
  %li
    %img{src :'{% static "images/banner01.jpg" %}', height :"300", width :"980"}/
  %li
    %img{src :'{% static "images/banner01.jpg" %}', height :"300", width :"980"}/
  %li
    %img{src :'{% static "images/banner01.jpg" %}', height :"300", width :"980"}/
%script{type :"text/javascript", src :"{% static 'js/top.js' %}"}
