-load staticfiles
%h2.mcenter_title<
  %span.right
    %a{href :"#"} 更多 &gt;
  %b
  资讯与推荐
.mcdl
  %span.mainsort 分类
  %dl
    %dt
      %img{height :"92", src :'{% static "images/01.png" %}', width :"92"}/
    %dd
      %h3 标题可分行行
    %dd
      %article.mc_txt 文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多文章摘要最多五行 ……注意左对齐
    %dd
      %a{href :"#"} 作者
      |
      %a{href :"#"} 发表时间
      |
      %a{href :"#"} 阅读次数
      |
      %a{href :"#"} 评论数目
.mcdl
  %span.mainsort 分类
  %dl
    %dt
      %img{height :"92", src :'{% static "images/01.png" %}', width :"92"}/
    %dd
      %h3 标题可分行行
    %dd
      %article.mc_txt 文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多文章摘要最多五行 ……注意左对齐
    %dd
      %a{href :"#"} 作者
      |
      %a{href :"#"} 发表时间
      |
      %a{href :"#"} 阅读次数
      |
      %a{href :"#"} 评论数目
.mcdl
  %span.mainsort 分类
  %dl
    %dt
      %img{height :"92", src :'{% static "images/01.png" %}', width :"92"}/
    %dd
      %h3 标题可分行
    %dd
      %article.mc_txt 文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多五行文章摘要最多文章摘要最多五行 ……注意左对齐
    %dd
      %a{href :"#"} 作者
      |
      %a{href :"#"} 发表时间
      |
      %a{href :"#"} 阅读次数
      |
      %a{href :"#"} 评论数目
