-load staticfiles
%h3
  %span.right>
    %a{href :"#"} 更多 &gt;
  顶级开发商
.clear
  %dl
    %dt
      %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
    %dd
      %a.font18{href :"#"} 神庙逃亡
    %dd
      %a{href :"#"} 类型
      |
      %a{href :"#"} 大小
      |
      %a{href :"#"} 下载量
    %dd.mntxt1 1
  %dl
    %dt
      %img{height :"40", src :'{% static "images/01.png" %}', width :"40"}/
    %dd
      %a.font18{href :"#"} 神庙逃亡
    %dd
      %a{href :"#"} 类型
      |
      %a{href :"#"} 大小
      |
      %a{href :"#"} 下载量
    %dd.mntxt 2
  %dl
    %dt
      %img{height :"40", src :'{% static "images/01.png" %}', width :"40"}/
    %dd
      %a.font18{href :"#"} 神庙逃亡
    %dd
      %a{href :"#"} 类型
      |
      %a{href :"#"} 大小
      |
      %a{href :"#"} 下载量
    %dd.mntxt 3
