-load staticfiles
%h2.mright_title<
  %span.right
    %a{href :"#"} 更多 &gt;
  %b
  首发破解
%dl
  %dt
    %img{height :"72", src :'{% static "images/01.png" %}', width :"72"}
      %br
        %img{height :"9", src :'{% static "images/starfff.png" %}', width :"56"}/
  %dd
    %a.font16{href :"#"} 游戏名不分行
  %dd 一句话破解情况说明，靠左对齐，最多两行 ...
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
%dl
  %dt
    %img{height :"72", src :'{% static "images/01.png" %}', width :"72"}
      %br
        %img{height :"9", src :'{% static "images/starfff.png" %}', width :"56"}/
  %dd
    %a.font16{href :"#"} 游戏名不分行
  %dd 一句话破解情况说明，靠左对齐，最多两行 ...
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
%dl
  %dt
    %img{height :"72", src :'{% static "images/01.png" %}', width :"72"}
      %br
        %img{height :"9", src :'{% static "images/starfff.png" %}', width :"56"}/
  %dd
    %a.font16{href :"#"} 游戏名不分行
  %dd 一句话破解情况说明，靠左对齐，最多两行 ...
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
%dl
  %dt
    %img{height :"72", src :'{% static "images/01.png" %}', width :"72"}
      %br
        %img{height :"9", src :'{% static "images/starfff.png" %}', width :"56"}/
  %dd
    %a.font16{href :"#"} 游戏名不分行
  %dd 一句话破解情况说明，靠左对齐，最多两行 ...
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
