-load staticfiles
%h2.mleft_title
  %span.right
    %a{href :"#"} 更多 &gt;
  %b
  最新游戏
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
%dl
  %dt
    %img{height :"48", src :'{% static "images/01.png" %}', width :"48"}/
  %dd
    %span.right
      %img{height :"9", src :'{% static "images/star.png" %}', width :"56"}/
    %a{href :"#"} 游戏名
  %dd
    %a{href :"#"} 类型
    |
    %a{href :"#"} 大小
    |
    %a{href :"#"} 下载量
  %dd
    %time 01-10-2014
