-load staticfiles
%h3
  %img{align :"absmiddle", height :"29", src :'{% static "images/himg.png" %}', width :"29"} 图片中心
.ming_cont.left
  %ul
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分行上海游戏莫板块帖子标题不分行上海游戏莫板块帖子标题不分行上海游戏莫板块帖子标题不分行
        %img{height :"173", src :'{% static "images/p1.jpg" %}', width :"191"}
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题块帖子标题不分行
        %img{height :"122", src :'{% static "images/p2.jpg" %}', width :"191"}
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标不分行上海游戏莫板块帖子标题不分行
        %img{height :"102", src :'{% static "images/p3.jpg" %}', width :"191"}
  %ul
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分题不分行上海游戏莫板块帖子标题不分行
        %img{height :"400", src :'{% static "images/p4.jpg" %}', width :"217"}
  %ul
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分题不分行上海游戏莫板块帖子标题不分行
        %img{height :"210", src :'{% static "images/p5.jpg" %}', width :"347"}
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分题不分行上海游戏莫板块帖子标题不分行
        %img{height :"189", src :'{% static "images/p6.jpg" %}', width :"347"}
  %ul
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分题不分行上海游戏莫板块帖子标题不分行
        %img{height :"139", src :'{% static "images/p7.jpg" %}', width :"222"}
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分题不分行上海游戏莫板块帖子标题不分行
        %img{height :"139", src :'{% static "images/p8.jpg" %}', width :"222"}
    %li
      %a{href :"#"}
        %dl
          %dt 上海游戏莫板块帖子
          %dd 上海游戏莫板块帖子标题不分题不分行上海游戏莫板块帖子标题不分行
        %img{height :"119", src :'{% static "images/p9.jpg" %}', width :"222"}

