-load staticfiles
%h3
  %span.right>
    %a{href :"#"} 更多 &gt;
  顶级开发商
%ul.clear
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
  %li
    %img{height :"60", src :'{% static "images/03.jpg" %}', width :"200"}/
