-load staticfiles

%h3
  %span.right
    %a{href :"#"} 更多 &gt;
  %span.em
    %img{align :"absmiddle", height :"29", src :'{% static "images/himg.png" %}', width :"29"} 精品集合
%ul
  %li
    %span 游戏分类
    %img{height :"100", src :'{% static "images/02.jpg" %}', width :"326"}/
  %li
    %span 游戏分类
    %img{height :"100", src :'{% static "images/02.jpg" %}', width :"326"}/
  %li
    %span 游戏分类
    %img{height :"100", src :'{% static "images/02.jpg" %}', width :"326"}/
  %li
    %span 游戏分类
    %img{height :"100", src :'{% static "images/02.jpg" %}', width :"326"}/
  %li
    %span 游戏分类
    %img{height :"100", src :'{% static "images/02.jpg" %}', width :"326"}/
  %li
    %span 游戏分类
    %img{height :"100", src :'{% static "images/02.jpg" %}', width :"326"}/

