body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "微软雅黑","Microsoft YaHei UI","Microsoft YaHei","宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
em,u,i{font-style:normal; text-decoration:none}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
a {jing:e xpression(this.onFocus=this.blur());blr:expression(this.onFocus=this.blur()); text-decoration: none; cursor: pointer}
a:focus,input,select,textarea{outline:0;resize: none}
::-webkit-input-placeholder{color:#ddd}
:-moz-placeholder{color:#ddd}
::-moz-placeholder{color:#ddd}
:-ms-input-placeholder{color:#ddd}
::-moz-selection{background:#ff7900;color:#fff}

h1{text-indent:-99999em; position:absolute}
.temp-index .bg{background:url(http://static.ccplay.com.cn/static/cc_web/img/temp-logo.png) no-repeat center 40% #e53333; height:40%}
.main{text-align:center}
.main .icon{width:125px; margin:0 5% 60px 5%; font-size:16px; padding-top:125px; background:url(http://static.ccplay.com.cn/static/cc_web/img/temp-a.png) no-repeat; display:inline-block; position:relative; margin-top:-60px}
.main .a-apple{background-position:left 0}
.main .a-android{background-position:center 0}
.main .a-bbs{background-position:right 0}
.Copyright{color:#999}

@media only screen and (max-width : 600px) {
	.temp-index .bg{background-size:40%}
	.temp-index .bg{padding-bottom:70px; background-position: center 50px}
	.main .icon{width:70px; padding-top:65px; margin:-30px 5% 0 5%; background-size:350%}
	.Copyright{font-size:80%; position:fixed; bottom:0; width:100%; background:#fff; padding-top:5px;}	
	
}

