{% load templateutils_tags %}

    	<div class="l pt20 hot-bbs">
              <div class="f18 cell rel t-title">
                  <h3 class="l n mr30">热帖</h3>
                  <!--<ul class="l abs cell-bk tc f16">
                      <li class="dib pl10 pr10 tab"><a href="#">热点</a></li>
                      <li class="dib pl10 pr10 tab"><a href="#">大型</a></li>
                      <li class="dib pl10 pr10 tab"><a href="#">精品</a></li>
                      <li class="dib pl10 pr10 tab"><a href="#">综合</a></li>
                  </ul>-->
                  <a class="r f12 mt5 more">更多></a>
              </div> <!--t-title-->
              
              <div class="hot-bbs-list">
              
              		<ul>
                      {%  mkrange 1 13 as fnum %}
                      {% for i in fnum %}
                    	<li class="cell-bk">
                        	<h4 class="l"><a href="#"><img src="http://static.ccplay.com.cn/static/common/img/3.jpg">标题名称标题名称标题名称</a></h4><span class="r g9 f10" title="回复|查看">10<em>|</em>1449</span>
                            <span class="abs ios-web-icon"></span>
                            <p class="cl g9">59个文字描述文字描述文字描描述文字描文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字<a href="#" class="gr">[全文]</a></p>
                        </li>
                        {% endfor %}
                    </ul>
              
              </div><!--hot-bbs-list-->

        		
        </div><!--hot-bbs-->
