{% extends "pages/page.html" %}
{% load staticfiles %}

{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block before_main %}
<h3 class="login_title w980 clear">虫虫游戏 &gt; 用户注册</h3>
{% endblock %}
{% block main %}
<div class="h20"></div>
<section class="login">
    <form action="/account/signup/action" method="POST">
    <hgroup class="login_top">注册</hgroup>
    <hgroup class="login_left left">
        <dl>
            <dt> 无需注册，直接使用社交账号登陆</dt>
            <dd><a href="login.html#">腾讯QQ</a><a href="login.html#">新浪微博</a></dd>
        </dl>
    </hgroup>
    <hgroup class="login_right right">
        <h4>创建您的虫虫游戏账户</h4>
        <dl>
            <dt>用户名（仅英文或数字）</dt>
            <dd><input type="text" class="login_text"></dd>
        </dl>
        <dl>
            <dt>电子邮件</dt>
            <dd><input type="text" class="login_text"></dd>
        </dl>
        <dl>
            <dt>密码</dt>
            <dd><input type="text" class="login_text"></dd>
        </dl>
        <dl>
            <dt>再次输入密码</dt>
            <dd><input type="text" class="login_text"></dd>
        </dl>
        <ul>
            <li><input name="" type="radio" value=""> 我已阅读《虫虫游戏用户条款》</li>
            <li><input type="button" value="创建账户" class="login_button"></li>
        </ul>
    </hgroup>
    </form>
</section>
{% endblock %}
