{% load templateutils_tags %}

                
                
                <div class="l left-list">
                    <div class="pin-wrapper" style="height: 534px;"><div class="pin-box" id="" style="">
                        <ul class="f14 left-nav">
                            <li>
                                </li><li><a href="#" class="hoever">全部<span class="r">565556</span></a></li>
                                {%  mkrange 1 12 as fnum %}
                                {% for i in fnum %}
                                <li><a href="#">游戏分类<span class="r">13</span></a></li>
                                {% endfor %}
                            
                        </ul>
                     </div></div>
                </div><!--left-list-->
