{% extends "analysis/admin/base.haml" %}
{% load analysis_tags url_tags %}
{% block main %}
    <h2>{{ packagekey.title }}<small></small></h2>
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="javascript:;" onclick="history.back()" class="btn" style="margin-right:5px">&lt; 返回</a></li>
        <li class="active"><a href="#">明细</a></li>
        {% comment %}
        <li class="pull-right">
            <form class="navbar-form" role="search" style="margin:0" method="GET" >
                <div class="form-group">
                    <input type="date" name="start_date" value="{{ query.start_date }}" class="form-control">
                    <input type="date" name="end_date" value="{{ query.end_date }}" name="end_date" class="form-control">
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="submit" value="search" class="btn btn-default btn-primary">搜索</button>
                        <button type="submit" value="all" class="btn btn-default">全部</button>
                    </div>
                </div>
            </form>
        </li>
        {% endcomment %}
    </ul>

    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>日期</th>
            <th>平台</th>
            <th>产品</th>
            <th>累计下载</th>
            <th>下载 | 完成</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                    {{ item.start_date }}~{{ item.end_date }}
                </td>
                <td>{{ item.device_platform.platform }}</td>
                <td>{{ item.productkey.entrytype }}</td>
                <td>{{ item.total_download_count }}</td>
                <td>{{ item.download_count }} | {{ item.downloaded_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% pagination page_obj %}
    </div>
{% endblock %}
