-load templatehelper_tags url_tags util_tags web_tags cache_tagging_tags
{% absolute_url_as package product=product as detail_url %} {% is_site_android as is_android %}{% is_site_ios as is_ios %}
-with title=package.title star=package.star dw_size=package.download_size dw_count=package.download_count cat_name=package.primary_category_name cover_url=package.cover_web_url|default:package.cover_default_url
  - if is_ios
    {% qurl package.static_download_url as dw_url %}
  - else
    {% qurl package.download_url entrytype=product as dw_url %}
  %a{:href => "={detail_url}", :title => "={title}"}<
    %img{:alt => "={title}", :src => "{{ cover_url }}"}
    %h3.l= title|slice:"10"
    .r.ios-web-icon.star{:class => "s={star|floatformat:'0'}"}
  %p.cl.des.g9= package.summary
  %p.l.g9 {{ dw_size|filesizeformat }} | {{ dw_count|default:0|intwordcn }}+下载
  -if is_android
    %p.r= cat_name
  -if is_ios
    {% with is_free=package.is_free formatted_price=package.formatted_price %}
    -if not is_free
      %p.price.gr<
        %span= formatted_price
    -else
      %p.r<
        %span 免费
    {% endwith %}
  .btn-s.abs{:style => "display:none"}
    -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
    %a.a2{:href => "={dw_url}", :class => "app-download-btn-js"} 下载
