-load i18n
-load future
-load pages_tags

{% spaceless %}
- for page in page_branch
  - if page.has_children_in_menu
    %dl
      %dt= page.title
      - if page.has_children
        {% page_menu page 'pages/menus/footer_links_dd.haml' %}
  - elif page.in_menu
    - if forloop.revcounter0 == 1
      <ul>
    %li
      %a{:href => "={page.get_absolute_url}"}= page.title
    - if forloop.revcounter0 == 0
      </ul>
{% endspaceless %}
