-load i18n
-load future
-load pages_tags

{% spaceless %}
- if page_branch_in_menu
  - for page in page_branch
  %dl
    %dt 关于我们
    %dd
      %a{href :"#"} 发展愿景
    %dd
      %a{href :"#"} 联系方式
    %dd
      %a{href :"#"} 商务合作
    %dd
      %a{href :"#"} 诚聘英才
  %dl
    %dt 社交分享
    %dd
      %a{href :"#"} 虫虫微信
    %dd
      %a{href :"#"} 新浪微博
    %dd
      %a{href :"#"} 腾讯微博
  %ul
    %li 版权信息
    %li 备案信息
{% endspaceless %}
