%header#header.headbg
  %section.head.w980
    %hgroup.logo.left
      %h1
        %a{href :"index.html"}
    %nav.nav.left
      %ul
        %li
          %a{href :"index.html"} 首页
        %li
          %a{href :"index.html"} 分类
        %li
          %a{href :"index.html"} 破解
        %li
          %a{href :"index.html"} 巨作
        %li
          %a{href :"index.html"} 专题
        %li
          %a{href :"index.html"} 资讯
        %li
          %a{href :"index.html"} 开发商
        %li
          %a{href :"index.html"} 排行榜
        %li
          %a{href :"index.html"} 论坛
    %hgroup.search.right
      {% include "pages/widgets/search_form.haml" %}
