    <div class="head">


            <div class="fl head_set">

                    <a href="javascript:;" class="icon pgup">上一页</a>

                    <a href="javascript:;" class="icon pgdn">下一页</a>

                    <a href="javascript:;" class="icon refresh">刷新</a>

            </div><!--head_set-->

            

            <div class="fl head_nav">

                    <a href="/ios_pc">首页</a>

                    <a href="{% url 'iospc_packages_cat_list' 'game' %}">游戏</a>
                                                  
                    <a href="{% url 'iospc_packages_cat_list' 'soft' %}">软件</a>

                    <a href="collection.html">专题</a>

                    <a href="masterpiece.html">巨作</a>

                    <a href="vendor.html">厂商</a>

                    <a href="http://bbs.ccplay.com.cn">许愿</a>

            </div><!--head_nav-->


    </div><!--head-->
