- load util_tags
- for package in items
  - with version=package.versions.latest_published
    %li
      %dl
        %dt
          %a{:href => "={version.get_absolute_url}"}
            %img{:alt => "", :src => "{% if version.cover %}{{ version.cover.url }}{% endif %}", :width => "320", :height => "240"}
        %dd
          %span.matar
            .star3
          %a.font18{:href => "={version.get_absolute_url}", :title => "={package.title}"}= package.title|slice:":20"
        %dd.matar_a
          %span{:title => "={package.author.name}"}= package.author.name|slice:":6"
          %i>< |
          - with category=package.categories.all.0
            %a{:href => "={category.get_absolute_url}"}><= category.name
          %i>< |
          = version.get_download_size|default:0|filesizeformat
          %i>< |
          = version.download_count|intwordcn
        %dd.c69.f14= package.summary|truncatechars:45
        %dd.mabut
          %span.matime= package.released_datetime|date:'SHORT_DATE_FORMAT'
          %span.masz 99845
          %span.madown
            %a{:href => "={version.get_download_url}"} 下载
