{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="format-detection" content="address=no;email=no;telphone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{% block meta_title %}{% endblock %}</title>
    <link href="{% static 'video_web/css/wap-site.css' %}?1415675815628" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'video_web/video-js/video-js.css' %}?1415675815628" rel="stylesheet" type="text/css">
    <style type="text/css">
        /*水平翻转*/
        .flipy {
            -moz-transform:scaleX(-1);
            -webkit-transform:scaleX(-1);
            -o-transform:scaleX(-1);
            transform:scaleX(-1);
            /*IE*/
            filter:FlipH();
        }

        /*垂直翻转*/
        .flipx {
            -moz-transform:scaleY(-1);
            -webkit-transform:scaleY(-1);
            -o-transform:scaleY(-1);
            transform:scaleY(-1);
            /*IE*/
            filter:FlipV();
        }
    </style>
</head>

<body>
{% block main %}{% endblock %}
</body>
</html>
