{% extends "video/wap/base.html" %}
{% load staticfiles %}
{% block meta_title %}视频列表{% endblock %}
{% block main %}
<div class="mod-flex_video">
    <ul class="flex_video">
        {% for v in video_list %}
        <li>
            <div class="flex_video_thumb">
                <a class="flex_video_link" href="{% url 'video-play' pk=v.pk %}?src=wap" {% if v.preview %} style="background-image: url('{{ v.preview.url }}')" {% endif %}>
                    <p class="picList_info">{{ v.user.username }}</p>
                    <p class="picList_info picList_info-right">{{ v.file_time }}</p>
                </a>
            </div>
            <div class="flex_video_title">{{ v.title }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
