{% extends "video/wap/base.html" %}
{% load staticfiles %}
{% block meta_title %}视频列表{% endblock %}
{% block main %}
<style type="text/css">
    .flex_video_thumb {background:#000; text-align:center; overflow:hidden}
    .flex_video_thumb img{height:100%}
    .picList_info{text-align:left}
    .picList_info-right{text-align:right}
</style>
<div class="mod-flex_video">
    <ul class="flex_video">
    {% with os_family=request.user_agent.os.family %}
        {% for v in video_list %}
        <li>
            <div class="flex_video_thumb">
                <a class="flex_video_link" href="{% url 'video-play' pk=v.pk %}?src=wap" >
                <img {% if os_family != 'iOS' %} class="flip{{ v.flip }}"{% endif %} {% if v.preview %} src="{{ v.preview.url }}" {% endif %}>
                    <p class="picList_info">{{ v.user.username }}</p>
                    <p class="picList_info picList_info-right">{{ v.file_time }}</p>
                </a>
            </div>
            <div class="flex_video_title">{{ v.title }}</div>
        </li>
        {% endfor %}
    {% endwith %}
    </ul>
</div>
{% endblock %}
