{% load templateutils_tags %}
                
                <div class="l left-list">
                    <div class="pin-wrapper" style="height: 534px;"><div class="pin-box" id="" style="">
                        <ul class="f14 left-nav">
                            <li>
                            </li><li><a href="{{ page.get_absolute_url }}" class="hoever">全部<span class="r">{{ root_packages.count }}</span></a></li>
                                {% for item in items %}
                                <li><a href="/{{ page.slug }}">{{ item.cat.name }}<span class="r">{{ item.packages.count }}</span></a></li>
                                {% endfor %}
                            
                        </ul>
                     </div></div>
                </div><!--left-list-->
