{% load templateutils_tags %}
{% load util_tags %}

<div class="auto width rel app-list-page crack-page">

  <div class="cell most-expensive">
    <div class="f18 cell rel t-title">
      <h3 class="l n mr30"><span class="abs ios-web-icon"></span>破解游戏</h3>
      <ul class="l abs cell-bk f16">

        <li class="dib pl10 pr10 tab {% if not type and not topic %}ios-web-icon{% endif %}"><a title="链接名称" href="/android/crack/">首发破解</a></li>


        <li class="dib pl10 pr10 tab {% if type == 'all' %}ios-web-icon{% endif %}"><a title="链接名称" href="/android/crack/?type=all">全部破解</a></li>

        <li class="dib pl10 pr10 tab {% if topic %}ios-web-icon{% endif %}"><a title="链接名称" href="/android/crack/?topic=all">破解推荐</a></li>

      </ul>   

      <a href="#" class="r btn db f16 p5 btn-green white qy-btn">我要许愿破解</a>                             

    </div> <!--t-title-->
  </div>

  <div class="rel cell-bk">                
    <div class="r left-list crack-list-right">
      <div class="pin-wrapper" style="height: 451px;"><div class="pin-box" id="">

          <h3 class="p10 n f20">明天<span class="gr">破解预告</span></h3>
          <div class="app-list-right ">

            <ol>
              {% for item in crack_packages_tomorrow %}
              {% with version=item.versions.latest_published %}
              <li class="rel">
              <a href="{{ item.get_package_url }}" class="l"><img src="{{ version.icon.url }}"><span class="ios-web-icon abs"></span></a>
              <h3 class="n"><a href="{{ item.get_package_url }}">{{ item.title }} </a></h3>
              <p class="g9">{{ cat.name }}<em>|</em>{{ item.download_count|intwordcn }}+下载</p>
              <p class="g9">破解说明：破解内购</p>
              </li>
              {% endwith %}
              {% endfor %}
            </ol>
          </div><!--app-list-right-->
      </div></div>
    </div><!--left-list-->



    <div class="l btn-s-box tj pl5 pr20 pb20 right-list time-list">

      <div class="time-box-t">
        <div class="time-box-b">

          <div class="cell-bk">

            <dl class="f14 bde dib p15 n-1">
              <dt class="rel pb15">虫虫<em class="g6">今天</em>破解{{ crack_packages_today.count }}个游戏<div class="abs tag-time"><a class="ios-web-icon f12" href="#">今天</a></div><span class="user-icon abs triangle"></span></dt>
              <dd>
              {% for item in crack_packages_today %}
              {% with version=item.versions.latest_published %}
              <div class="dib rel app-list-min">
                <a href="{{ item.get_package_url }}" class="db tc f14" target="_blank">
                  <img src="{{ version.icon.url }}" class="db auto">
                  <span class="ios-web-icon abs db auto"></span>
                  {{ item.title }} 
                  <i class="db n f12 g9">{{ cat.name }}</i>
                </a>
              </div>
              {% endwith %}
              {% endfor %}
              </dd>
            </dl>
          </div>

          <div class="cell-bk">

            <dl class="f14 bde dib p15 n-2">
              <dt class="rel pb15">虫虫<em class="g6">昨天</em>破解{{ crack_packages_yesterday.count }}个游戏<div class="abs tag-time"><a class="ios-web-icon f12" href="#">昨天</a></div><span class="user-icon abs triangle"></span></dt>
              <dd>
              {% for item in crack_packages_yesterday %}
              {% with version=item.versions.latest_published %}
              <div class="dib rel app-list-min">
                <a href="{{ item.get_package_url }}" class="db tc f14" target="_blank">
                  <img src="{{ version.icon.url }}" class="db auto">
                  <span class="ios-web-icon abs db auto"></span>
                  {{ item.title }} 
                  <i class="db n f12 g9">{{ cat.name }}</i>
                </a>
              </div>
              {% endwith %}
              {% endfor %}
              </dd>
            </dl>
          </div>

          <div class="cell-bk">

            <dl class="f14 bde dib p15 n-3">
              <dt class="rel pb15">虫虫<em class="g6">前天</em>破解{{ crack_packages_yesterday_before.count }}个游戏<div class="abs tag-time"><a class="ios-web-icon f12" href="#">前天</a></div><span class="user-icon abs triangle"></span></dt>
              <dd>
              {% for item in crack_packages_yesterday_before %}
              {% with version=item.versions.latest_published %}
              <div class="dib rel app-list-min">
                <a href="{{ item.get_package_url }}" class="db tc f14" target="_blank">
                  <img src="{{ version.icon.url }}" class="db auto">
                  <span class="ios-web-icon abs db auto"></span>
                  {{ item.title }} 
                  <i class="db n f12 g9">{{ cat.name }}</i>
                </a>
              </div>
              {% endwith %}
              {% endfor %}
              </dd>
            </dl>
          </div>

          <div class="cell-bk">

            <dl class="f14 bde dib p15 n-4">
              <dt class="rel pb15">虫虫<em class="g6">{{ someday.month }}月{{ someday.day }}日</em>破解{{ crack_packages_someday.count }}个游戏<div class="abs tag-time"><a class="ios-web-icon f12" href="#">以前</a></div><span class="user-icon abs triangle"></span></dt>
              <dd>
              {% for item in crack_packages_someday %}
              {% with version=item.versions.latest_published %}
              <div class="dib rel app-list-min">
                <a href="{{ item.get_package_url }}" class="db tc f14" target="_blank">
                  <img src="{{ version.icon.url }}" class="db auto">
                  <span class="ios-web-icon abs db auto"></span>
                  {{ item.title }} 
                  <i class="db n f12 g9">{{ cat.name }}</i>
                </a>
              </div>
              {% endwith %}
              {% endfor %}
              </dd>
            </dl>
          </div>

        </div><!--time-box-b-->
      </div>

    </div><!--right-list-->



  </div><!--cell-bk-->
</div>
