{% load templateutils_tags %}

    	<div class="l pt20 hot-bbs">
              <div class="f18 cell rel t-title">
                  <h3 class="l n mr30">热帖</h3>
                  <a class="r f12 mt5 more" href="{{ more_url }}">更多</a>
              </div> <!--t-title-->
              
              <div class="hot-bbs-list">
              
              		<ul>
                      {% for item in items %}
                    	<li class="cell-bk">
                      <h4 class="l"><a href="{{ item.url }}"><img src="http://static.ccplay.com.cn/static/common/img/3.jpg">{{ item.title }}</a></h4><span class="r g9 f10" title="回复|查看">10<em>|</em>1449</span>
                            <span class="abs ios-web-icon"></span>
                            <p class="cl g9"><a href="{{ item.url }}" class="gr">[全文]</a></p>
                        </li>
                        {% endfor %}
                    </ul>
              
              </div><!--hot-bbs-list-->

        		
        </div><!--hot-bbs-->
