{% load templateutils_tags %}

               <div class="left tab-box-o">
                        <div class="f18 cell rel t-title">
                          <h3 class="l n mr30">{{ cat }}</h3>
                            <ul class="l abs cell-bk pl30 tc f16">
                                 {% for dic in result %}
                                 <li class="dib pl10 pr10 tab"><a href="#">{{ dic.topic_name }}</a></li>
                                {% endfor %}
                            </ul>
                            
                            <div class="rel tab-more">
                              {% for dic in result %}
                            	<a class="r f12 mt5 more" href="#1">更多></a>
                              {% endfor %}
                            </div>
                        </div> <!--t-title-->
                        
                        
                        
                <div class="info-box-tab">
                            
                            {% for dic in result %}
                            <div class="tj pt5 app-list-left">
                                {% for item in dic.items|slice:"27" %}
                                {% with version=item.versions.latest_published %}
                                    <div class="dib rel app-list-min">
                                      <a title="链接名称" href="{{ item.get_absolute_url }}" class="db tc f14">
                                          <img alt="图片名称" src="{{ version.icon.url }}" class="db auto">
                                            <span class="ios-web-icon abs db auto"></span>
                                            {{ item.title }}
                                            <i class="db n f12 g9">智力游戏</i>
                                        </a>
                                        <div class="btn-s">
                                        <a href="{{ version.get_download_url }}" class="a1 install">安装</a>
                                        <a href="{{ version.get_download_url }}" class="a2">下载</a>
                                        </div>
                                    </div>
                                {% endwith %}
                                {% endfor %}
                            </div><!--app-list-left-->
                            {% endfor %}
                
                
                
                 </div> <!--info-box-tab--> 
 
           </div><!--left-->
