{% load templateutils_tags %}
{% load static %}

<div class="auto rel width box_btn roll masterpiece">
	<div class="tj pct100">
    	
          <div class="width ovh roll_box">
              <ul class="box_ul">
                  {% for item in items %}
                  {% with version=item.versions.latest_published %}
                  <li class="dib rel"><a title="链接名称" href="{{ version.get_absolute_url }}"><img alt="图片名称" src="{{ version.icon.url }}"><span class="bg"></span><span class="abs tc ovh pl5 pr5 white text png"> {{ item.title }}</span></a></li>
                  {% endwith %}
                  {% endfor %}
              </ul>
          </div><!--roll_box-->
          
          <div class="cb rel a_btn roll_btn">
                <a href="javascript:;" class="ios-web-icon abs prev"></a>
                <a href="javascript:;" class="ios-web-icon abs next"></a>
          </div><!--roll_btn-->

    </div><!--pct100-->
</div>
