{% load templateutils_tags %}
{% load util_tags %}

<div class="auto mt30 width masterpiece">
  <div class="cell-bk mb30">

    {% for item in items %}
    {% with version=item.versions.latest_published %}
    <div class="maste_lsit">
      <a title="链接名称" href="{{ item.get_absolute_url }}">
        <img alt="图片名称" src="{{ version.icon.url }}">
        <h3 class="l">{{ item.title|slice:"11" }}</h3>
        <div class="r ios-web-icon star s{{ version.stars_average|floatformat:"0" }}"></div>
      </a>
      <p class="cl des g9">{{ item.summary }}</p>
      <p>{{ version.get_download_size|default:0|filesizeformat }} | {{ item.download_count|intwordcn }}+下载</p>
      <p class="r g9">{{ item.categories.all.0.name }}</p>
      <div class="btn-s abs" style="display: none;">
        <a href="{{ version.get_download_url }}" class="a1 install">安装</a>
        <a href="{{ version.get_download_url }}" class="a2">下载</a>
      </div>
    </div>

    {% endwith %}
    {% endfor %}
  </div>
</div>
