{% load templateutils_tags %}

<div class="auto mt30 width masterpiece">
  <div class="cell-bk mb30">

{% for item in items %}
<div class="maste_lsit">
                    <a href="dis.html">
                            <img src="http://static.ccplay.com.cn/static/android_web/img/m-1.jpg">
                            <h3 class="l">标题名称</h3>
                            <div class="r ios-web-icon star s2"></div>
                    </a>
                    <p class="cl des g9">描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述</p>
                    <p class="l g9">999M | 100万+下载</p>
                    <p class="r g9">智力游戏</p>
                    <div class="btn-s abs" style="display: none;">
                        <a href="#" class="a1 install">安装</a>
                        <a href="#" class="a2">下载</a>
                    </div>
                </div>

{% endfor %}
  </div>
</div>
