{% load templateutils_tags %}
{% load util_tags %}

<div class="cell-bk  pt10 pb30 left-top-list">


  <div class="f18 cell-bk rel t-title">
    <ul class="l abs cell-bk f16">
      <li class="ios-web-icon tc dib"><a title="链接名称" href="#">周榜</a></li>
    </ul>

    <div class="rel tab-more">
      <a title="链接名称" class="r f12 mt5 mr10 more" href="#1">更多&gt;</a>
    </div>
  </div> <!--t-title-->
  <div class="app-list-right">

    <ol>
      {% for item in items %}
      {% with version=item.versions.latest_published %}
      <li class="rel">
      <b class="l gr">{{ forloop.counter }}</b>
      <a title="链接名称" href="{{ item.get_package_url }}" class="l"><img alt="图片名称" src="{{ version.icon.url }}"><span class="ios-web-icon abs"></span></a>
      <h3 class="n"><a title="链接名称" href="{{ item.get_package_url }}">{{ item.title }}</a></h3>
      <p>{{ version.get_download_size|default:0|filesizeformat }} | {{ item.download_count|intwordcn }}+下载</p>
      <div class="btn-s">
        <a href="{{ version.get_download_url }}" class="a1 install">安装</a>
        <a href="{{ version.get_download_url }}" class="a2">下载</a>
      </div>
      </li>
      {% endwith %}
      {% endfor %}
    </ol>

  </div><!--app-list-right-->
</div><!--left-top-list-->
