{% load templateutils_tags %}
{% load util_tags %}

          <div class="r abs pt20 most-expensive">
           		<div class="f18 cell rel t-title">
                	<h3 class="l n mr30">精品网游</h3>
                    <a class="r f12 mt5 more">更多></a>
                </div> <!--t-title-->
                
                <div class="most-list pl10 pr10 pb10 btn-s-box">
                  {{ items.count }}
        {% for item in items|slice:"6" %}
        {% with version=item.versions.latest_published %}
                                  <dl class="cell-bk pt15 rel app-list-l">
                                      <dt class="abs"><a title="链接名称" href="{{ item.get_absolute_url }}" class="pic"><img alt="图片名称" src="{{ version.icon.url }}"><span class="ios-web-icon abs"></span></a></dt>
                                      <dd class="g9">
                                          <h3 class="n rel g3 f14"><a title="链接名称" href="{{ item.get_absolute_url }}">{{ item.title }}</a><span class="abs ios-web-icon star s1"></span></h3>
                                          <p>{{ item.summary }}</p>
                                          <p>智力游戏<em>|</em>{{ item.download_count|intwordcn }}+下载</p>
                                          <div class="btn-s">
                                                <a href="{{ version.get_download_url }}" class="a1 install">安装</a>
                                                <a href="{{ version.get_download_url }}" class="a2">下载</a>
                                          </div>
                                      </dd>
                                  </dl>
                        {% endwith %}
                        {% endfor %}

                </div><!--most-list-->
          </div><!--most-expensive-->
