
<!--底部开始 footer-->
<div class=" cell-bk ios-web-icon footer">

		<div class="auto width white">
        		<div class="float-five f-1">
                		<dl>
                        	<dt class="f14">关于我们</dt>
                            <dd><a href="http://static.ccplay.com.cn/static/ios_web/html/about.html">公司简介</a></dd>
                            <dd><a href="http://static.ccplay.com.cn/static/ios_web/html/vision.html">发展愿景</a></dd>
                            <dd><a href="http://static.ccplay.com.cn/static/ios_web/html/contact.html">联系方式</a></dd>
                            <dd><a href="http://static.ccplay.com.cn/static/ios_web/html/job.html">诚聘英才</a></dd>
                        </dl>
                </div>
        		<div class="float-five f-2">
                		<dl>
                        	<dt class="f14">关注我们</dt>
                            <dd><a href="http://weibo.com/ccyxpt" class="ios-web-icon i-1">新浪微博</a></dd>
                            <dd><a href="http://t.qq.com/ccyxpt" class="ios-web-icon i-2">腾讯微博</a></dd>
                            <dd class="weixin-code"><a href="#" class="ios-web-icon i-3">官方微信</a><img class="dn abs" src="http://static.ccplay.com.cn/static/common/img/cc-weixin-code.png"></dd>
                        </dl>                
                </div>
        		<div class="float-five tc f-3">
                		<a href="#" class="ios-web-icon f-logo"></a>
                </div>
        		<div class="float-five tl f-4">
                		<dl class="r">
                        	<dt class="f14">虫虫客户端</dt>
                            <dd><a href="http://static.ccplay.com.cn/static/cc_web/html/down.html" class="ios-web-icon i-4">iPhone版下载</a></dd>
                            <dd><a href="http://static.ccplay.com.cn/static/cc_web/html/down.html" class="ios-web-icon i-5">Android版</a></dd>
                            <dd><a href="http://static.ccplay.com.cn/static/cc_web/html/down.html" class="ios-web-icon i-6">电脑客户端</a></dd>
                        </dl>  
                </div>
        		<div class="float-five tr f-5">
                		<dl>
                            <dd class="g9">扫描二维码即可下载</dd>
                            <dd><img src="http://static.ccplay.com.cn/static/common/img/code.png"></dd>
                        </dl> 
                </div>
                <div class="cl tc pt20">Copyright © <script type="text/javascript">var yearStr;now = new Date();yearStr = now.getFullYear();document.write(yearStr);</script> www.ccplay.com.cn. All Rights Reserved</div>
        </div>

</div>
<!--底部结束 footer-->


<form class="cell-bk dn bg-white login-box ovh login-form" method="post" action="{% url 'mainsite_login' %}">
{% csrf_token %}
<div class="cell-bk rel w750">
    <div class="abs f14 tc cell-bk login-tip"></div>
        <ul class="p15 fw">
            <li class="pl10 bg-white bde"><input name="username" class="bd-none pt10 pb10 f16 pct100" id="p-id" type="text" placeholder="用户名\手机号码\电子邮箱" datatype="*"></li>
            <li class="pl10 bg-white bde mt10 mb10"><input name="password" class="bd-none pt10 pb10 f16 pct100" id="p-password" type="password" placeholder="登录密码"  datatype="*6-16"></li>
            <li class="pl10 h32 pb10 ovh rel bg-white bde"><input class="bd-none pt10 pb10 f16 pct40" id="p-yzm" maxlength="4" type="text" placeholder="验证码" datatype="n4-4"><img alt="图片名称" src="http://passport.uu66.com/code.html?1398343237979" width="90px" height="37px" class="abs yzm-img"><a title="链接名称" href="#"  class="dib ml5 pt10 gr r">看不清？</a></li>
            <li class="mt10 rel"><button class="db pct100 btn btn-red f16 poi login-btn">立即登录</button></li>
            <li class="p10 mb5"><label class="l"><input type="checkbox"> 论坛账号</label><a title="链接名称" href="#" class="gr r">忘记密码？</a></li>
            <li class="pt20 mb10"><a title="链接名称" href="{% url 'mainsite_register' %}" class="db btn btn-silver f16 poi bg-creg-btn">免费注册账号</a></li>
        </ul>
        <div class="pb20 tc dn">
              <div class="rel bte login-line"><span class="dib p5 rel g9">您也可以用以下方式登录</span></div>
              <a title="链接名称" href="#" class="qq-login"><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/qq-btn.png"></a>
              <a title="链接名称" href="#" class="ml10 weibo-login"><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/weibo-btn.png"></a>                            
        </div>
</div>
</form>


<!--修改密码-->

<div class="bg-white change-password-box dn">
  <form class="w750 user-password-form" method="post" action="{% url 'reset_password' %}">
  {% csrf_token %}
    <ul>                                                
      <li class="p10">
      <label class="dib w100 tr">旧密码：</label>
      <input name="old_password" type="password" id="reset-password" class="p10 bde w200" placeholder="6-16位旧密码">
      </li>
      <li class="p10 rel">
      <label class="dib w100 tr">新密码：</label>
      <input name="new_password" type="password" plugin="passwordStrength" class="p10 bde w200 password" placeholder="6-16位新密码" id="p-new_password">
      <div class="abs g9" id="pw-strength"><span class="s-1">●</span><span class="s-2">●</span><span class="s-3">●</span></div>
      <div class="passwordStrength" style="display:none;"><b>密码强度：</b> <span>弱</span><span>中</span><span class="last">强</span></div>
      </li>
      <li class="p10">
      <label class="dib w100 tr">确认新密码：</label>
      <input name="new_password_confirm" type="password" class="p10 bde w200" id="p-new_password2" placeholder="再次确认新密码">
      </li>
    </ul>
    <div class="db tr pt20 pb20">
      <span class="Validform_checktip"></span><button class="submit_btn">确认修改</button>
    </div>
  </form>
</div>

<form class="cell-bk bg-white dn reg-box">
  <div class="cell-bk w750">
  </div>
</form>


<!--<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>-->
<script src="http://static.ccplay.com.cn/static/common/js/jquery.min.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/jquery.SuperSlide.2.1.1.source.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/jquery.pin.js"></script>
<script src="http://static.ccplay.com.cn/static/common/zxxbox/js/jquery.zxxbox.3.0.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/Validform_v5.3.2_min.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/site-v1.js"></script>
<script src="http://static.ccplay.com.cn/static/android_web/js/site.js"></script>

<script>

/*!
 * jQuery Cookie Plugin v1.4.1
 * https://github.com/carhartl/jquery-cookie
 *
 * Copyright 2013 Klaus Hartl
 * Released under the MIT license
 */
(function (factory) {
    if (typeof define === 'function' && define.amd) {
        // AMD
        define(['jquery'], factory);
    } else if (typeof exports === 'object') {
        // CommonJS
        factory(require('jquery'));
    } else {
        // Browser globals
        factory(jQuery);
    }
}(function ($) {

    var pluses = /\+/g;

    function encode(s) {
        return config.raw ? s : encodeURIComponent(s);
    }

    function decode(s) {
        return config.raw ? s : decodeURIComponent(s);
    }

    function stringifyCookieValue(value) {
        return encode(config.json ? JSON.stringify(value) : String(value));
    }

    function parseCookieValue(s) {
        if (s.indexOf('"') === 0) {
            // This is a quoted cookie as according to RFC2068, unescape...
            s = s.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, '\\');
        }

        try {
            // Replace server-side written pluses with spaces.
            // If we can't decode the cookie, ignore it, it's unusable.
            // If we can't parse the cookie, ignore it, it's unusable.
            s = decodeURIComponent(s.replace(pluses, ' '));
            return config.json ? JSON.parse(s) : s;
        } catch(e) {}
    }

    function read(s, converter) {
        var value = config.raw ? s : parseCookieValue(s);
        return $.isFunction(converter) ? converter(value) : value;
    }

    var config = $.cookie = function (key, value, options) {

        // Write

        if (value !== undefined && !$.isFunction(value)) {
            options = $.extend({}, config.defaults, options);

            if (typeof options.expires === 'number') {
                var days = options.expires, t = options.expires = new Date();
                t.setTime(+t + days * 864e+5);
            }

            return (document.cookie = [
                encode(key), '=', stringifyCookieValue(value),
                options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
                options.path    ? '; path=' + options.path : '',
                options.domain  ? '; domain=' + options.domain : '',
                options.secure  ? '; secure' : ''
            ].join(''));
        }

        // Read

        var result = key ? undefined : {};

        // To prevent the for loop in the first place assign an empty array
        // in case there are no cookies at all. Also prevents odd result when
        // calling $.cookie().
        var cookies = document.cookie ? document.cookie.split('; ') : [];

        for (var i = 0, l = cookies.length; i < l; i++) {
            var parts = cookies[i].split('=');
            var name = decode(parts.shift());
            var cookie = parts.join('=');

            if (key && key === name) {
                // If second argument (value) is a function it's a converter...
                result = read(cookie, value);
                break;
            }

            // Prevent storing a cookie that we couldn't decode.
            if (!key && (cookie = read(cookie)) !== undefined) {
                result[name] = cookie;
            }
        }

        return result;
    };

    config.defaults = {};

    $.removeCookie = function (key, options) {
        if ($.cookie(key) === undefined) {
            return false;
        }

        // Must not alter options, thus extending a fresh object...
        $.cookie(key, '', $.extend({}, options, { expires: -1 }));
        return !$.cookie(key);
    };

}));

$(function(){
  var token = $('form.login-form input[name="csrfmiddlewaretoken"]').val();

  $('.login-btn').bind('click', function(){
    var username = $('#p-id').val();
    var password = $('#p-password').val();

    $.ajax({
      type: "POST",
      url: $('form.login-form').attr('action'),
      data: {username: username, password: password, csrfmiddlewaretoken: token},
      success: function(data){
        if (data.login === 0) {
          $.zxxbox('<div class="p20 f20 white tc">登陆成功！</span></div>', {delay: 2000, bar: false, bg: false, fix: true});                         
          $('#login-reg').addClass('dn');
          $('#change-logout').removeClass('dn').children('a').attr('title', username).text(username);
        } else {
          var $ltip = $('.login-tip');
          var $cstr = $ltip.attr('class');

          if ($cstr.indexOf('Validform_right') !== -1) {
            $ltip.removeClass('Validform_right');
          }

          if ($cstr.indexOf('Validform_checktip') === -1) {
            $ltip.addClass('Validform_checktip');
          }

          if ($cstr.indexOf('Validform_wrong') === -1) {
            $ltip.addClass('Validform_wrong');
          }

          $ltip.text('用户名或密码错误！');
        }
      }
    });

    return false;
  });


  var ajax_log_out = function() {
    $.ajax({
      type: "POST",
      url: $('.log-out').attr('href'),
      data: {csrfmiddlewaretoken: token},
      success: function(data){
        if (data.logout === 0) {
          $('#change-logout').addClass('dn');
          $('#login-reg').removeClass('dn');
          setTimeout(function(){
              location.reload();
            }, 2000
          );
        }
      }
    });
  };


  $('.log-out').bind('click', function() {
    ajax_log_out();
    return false;
  });


  $('.submit_btn').bind('click', function() {
    var old_password = $('#reset-password').val();
    var new_password = $('#p-new_password').val();
    var new_password_confirm = $('#p-new_password2').val();
    $.ajax({
      type: "POST",
      url: $('.user-password-form').attr('action'),
      data: { csrfmiddlewaretoken: token,
              old_password: old_password,
              new_password: new_password,
              new_password_confirm: new_password_confirm },

      success: function(data){
        if (data.reset === 0) {
          $.zxxbox('<div class="p20 f20 white tc">密码修改成功！</span></div>', {delay: 2000, bar: false, bg: false, fix: true});                         
          ajax_log_out();
        }
      }
    });
    return false;
  });

});

</script>

</body>
</html>
