<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>首页</title>
<link href="http://static.ccplay.com.cn/static/common/css/site-v1.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://static.ccplay.com.cn/static/android_web/css/site.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://static.ccplay.com.cn/static/common/css/quick-layout.css" media="all" rel="stylesheet" type="text/css" />

<noscript>
    <h1 style="font-size:100%;color:#e53333;display:block;text-align:center">由于您的浏览器禁用了javascript脚本，网页无法正常浏览!</h1>
</noscript>
</head>
<body>
<!--头部开始 head-->
<div class="auto head">
	
    <div class="auto width top">
    	<div class="pt10 pb10">
              <div class="cell-bk">
                    <div class="inline-three ovh logo">
                        <h2><a href="http://static.ccplay.com.cn/static/cc_web/html/index.html" class="rel"><img src="http://static.ccplay.com.cn/static/common/img/logo.png" title="虫虫游戏 | 免费玩精品"><span class="trans home"></span></a></h2>
                    </div><!--logo-->
                    
                    <div class="inline-three search">
                          <div class="cell-bk rel bdc box">
                          		<form>
                                	<div class="diy_select">
                                        <input type="hidden" name="" class="diy_select_input"/>
                                        <div class="diy_select_txt select poi">游戏</div>
                                        <div class="ios-web-icon abs diy_select_btn poi"></div>
                                        <ul class="diy_select_list">
                                            <li>游戏</li>
                                            <li>软件</li>
                                        </ul>
                                    </div>
                                    <input type="text" class="f14 fw key" value="" x-webkit-speech="" autofocus>
                                    <button class="ios-web-icon bd-none poi abs">搜索</button>
                                </form>
                                
                                <!--搜索提示-->
                                <div id="search-drop" class="abs search-drop dn">
                                	<div class="bdc rel bg-white lh28 f14 search-drop-box">
                                    	<a href="http://static.ccplay.com.cn/static/ios_web/html/game-search.html" target="_blank">消除之星PopStar!</a>
                                        <a href="#" target="_blank">狂野飙车7：极速热力</a>
                                        <a href="#" target="_blank">飞行背囊/火箭飞人 Jetpack</a>
                                        <a href="#" target="_blank">水果忍者切西瓜 Fruit Ninja</a>
                                        <a href="#" target="_blank">节奏大师</a>
                                        <a href="#" target="_blank">神殿逃脱 Temple Run</a>
                                        <a href="#" target="_blank">地铁跑酷 Subway Surfers</a>
                                        <a href="#" target="_blank">找你妹</a>
                                        <a href="#" target="_blank">狂野飙车7：极速热力</a>
                                        <a href="#" target="_blank">飞行背囊/火箭飞人 Jetpack</a>
                                    </div>
                                </div>
                                <!--搜索提示-->
                                
                          </div>
                    </div><!--search-->
                    
                    <div class="inline-three r user-switch">
                          <ul class="r">
                              <li><a href="http://static.ccplay.com.cn/static/cc_web/html/index.html" class="ios-web-icon a0">门户站</a></li>
                              <li><a href="http://static.ccplay.com.cn/static/ios_web/html/index.html" class="ios-web-icon a1">苹果站</a></li>
                              <li><a href="http://static.ccplay.com.cn/static/android_web/html/index.html" class="ios-web-icon a2">安卓站</a></li>
                              <li><a href="#" class="ios-web-icon a3 open-reg">虫虫助手</a></li>
                              <li id="change-logout" {% if not request.user.is_authenticated %}class="dn"{% endif %}><a href="#" class="ios-web-icon a4 text-db" title="{{ request.user.username }}" target="">{{ request.user.username }}</a>
                                <dl class="abs dn bdc bg-white zx2 f14" style="display: none;">
                                  <dd><a href="#" class="db h24 lh24 pl10 pr10 pt5 pb5 bbc change-password" target="">修改密码</a></dd>
                                  <dd><a href="{% url 'mainsite_logout' %}" class="db h24 lh24 pl10 pr10 pt5 pb5 log-out" target="">退出</a></dd>
                                </dl>
                              </li>
                              <li id="login-reg" {% if request.user.is_authenticated %}class="dn"{% endif %}><a href="#" class="ios-web-icon a4 open-login" target="">登录/注册</a></li>
                          </ul>
                    </div><!--user-switch-->
              </div><!--cell-bk-->    
        </div>    
    </div><!--top-->

{% include "pages/android/menus/navigation.html" %}

</div>
<!--头部结束 head-->

