{% load widgets url_tags %} 

<div class="cl f14 page">
  {% if current_page.number > 1 %}
  <a href="{% qurl request.get_full_path page=current_page.previous_page_number %}">上一页</a>
  {% endif %}

  {% if current_page.paginator.num_pages > 1%}
  {% for i in limit_range %}
  <a href="{% qurl request.get_full_path page=i %}" {% if current_page.number == i %}class="hover"{% endif %}>{{ i }}</a>
  {% endfor %}
  {% endif %}

  {% if current_page.number < current_page.paginator.num_pages %}
  <a href="{% qurl request.get_full_path page=current_page.next_page_number %}">下一页</a>
  {% endif %}

</div>
