-load staticfiles pages_tags widgets
.auto.head
  .auto.width.top
    .pt10.pb10
      .cell-bk
        .inline-three.ovh.logo
          %h2
            %a.rel{:href => "/"}
              %img{:src => "{% static 'common/img/logo.png' %}", :title => "虫虫游戏 | 免费玩精品"}
                %span.trans.home
        / logo
        .inline-three.search
          {% include "pages/includes/search_form.haml" %}
        / search
        .inline-three.r.user-switch
          %ul.r
            {% widget WebHeaderSiteListWidget %}
            -for site in items
              %li<
                %a.ios-web-icon{:class => "={site.css_class}", :href => "={site.url}"}= site.name
            {% endwidget %}
            %li#login-reg
              %a.ios-web-icon.a4.open-login{:href => "javascript:;", :class => "{% if request.user.is_authenticated %}open-login{% endif %}",  :target => ""}
                -if request.user.is_authenticated
                  = request.user.username
                -else
                  登录/注册
              {% if request.user.is_authenticated %}
              %dl.abs.dn.bdc.bg-white.zx2.f14
                %i.abs.ios-web-icon
                %dd.h24.lh24.pl10.pr10.pt5.pb5.red<
                  你好，
                  %a.red{:href => "#"}= request.user.username
                  %a.ml10.log-out{:href => "{% url 'logout' %}"} [退出]
              {% else %}
              {% include "accounts/web/account_login_form.html" %}
              {% endif %}
        / user-switch
      / cell-bk
  / top

  .cell-bk.nav#nav
    .auto.rel.width
      {% page_menu "pages/menus/web/navigation.haml" %}
    / width
  / nav
