-load staticfiles pages_tags widgets cache_tagging_tags templatehelper_tags
{% get_site_name as site_name %}
.auto.head
  .auto.width.top
    .pt10.pb10
      .cell-bk
        .inline-three.ovh.logo
          %h2
            %a.rel{:href => "/"}
              %img{:src => "{% static 'common/img/logo.png' %}", :title => "虫虫游戏 | 免费玩精品"}
                %span.trans.home
        / logo
        .inline-three.search
          {% include "pages/includes/search_form.haml" %}
        / search
        .inline-three.r.user-switch
          %ul.r
            {% cache_tagging 'product_web_headersite' 'product_web_headersite' %}
            {% widget WebHeaderSiteListWidget %}
            -for site in items
              %li><
                %a.ios-web-icon{:class => "={site.css_class}", :href => "={site.url}"}= site.name
            {% endwidget %}
            {% end_cache_tagging %}
            %li#login-reg><
              %a.ios-web-icon.a4.open-login{:href => "javascript:;", :onclick => "open_login();"}><
                登录/注册
        / user-switch
      / cell-bk
  / top

  {% cache_tagging 'product_web_navigation'|add_param:site_name|add_param:request.path_info %}{% spaceless %}
  {% cache_add_tags request.get_host|add:request.path_info request.build_absolute_uri %}
  {% cache_location_register 'product_web_navigation' %}
  .cell-bk.nav#nav
    .auto.rel.width
      {% page_menu "pages/menus/web/navigation.haml" %}
    / width
  / nav
  {% endspaceless %}{% end_cache_tagging %}

