{% if request.user.is_authenticated %}
%dl.abs.dn.bdc.bg-white.zx2.f14
  %i.abs.ios-web-icon
  %dd.h24.lh24.pl10.pr10.pt5.pb5.red<
    你好，
    %a.red{:href => "#"}= request.user.username
    %a.ml10.log-out{:href => "{% url 'logout' %}"} [退出]
{% else %}
{% include "accounts/web/account_login_form.html" %}
:javascript
  function open_login(){
      $(".login-box").zxxbox({
          title: "会员登录",
          fix: true,
      });
  }
  function submit_login(form_dom){
    var form = $(form_dom)
    $.ajax({
      url: form.attr('action'),
      type:'post',
      dataType:'json',
      data:form.serialize(),
      beforeSubmit:function(){
        form.find('.validation=message').text('');
        form.find('.validation-block')
          .removeClass('validation-active')
          .find('.validation-block').text('');
      },
      success:function(data){
          if( data.code == 0 ){
              if(data.next){
                window.location = data.next;
              }
              else{
                window.location.reload();
              }
          }
          else
          {
              for(k in data.errors){
                form.find('.validation-message[validate=' + k + ']')
                  .text(data.errors[k].join(","));
              }
              form.find('.validation-block').addClass('validation-active');
              refresh_captcha('.yzm-img');
          }
      }
    });
    return false;
  }
{% endif %}
