- load pages_tags
- for page in page_branch
  %li{:class => "{% if page.has_children_in_menu %}ref{% endif %}"}
    %a{
      :class => "{% if page.is_current or page.is_current_child %}hover{% endif %}{% if page.has_children_in_menu %} nav-top-a{% endif %}",
      :href => "{{ page.get_absolute_url }}"
      }<= page.title
        - if page.has_children_in_menu
          %em.ios-web-icon
      - if page.has_children_in_menu
        {% page_menu page "pages/menus/web/nav-sub-li.haml" %}
