- load pages_tags
- for page in page_branch
  -# 检查页面发布状态
  {% if page.in_menu %}
  {% if request.path == '/' and page.slug == 'index'%}
  %li
    %a.hover{:href => "javascript:;"} 首页
  {% else %}
  %li{:class => "{% if page.has_children_in_menu %}rel{% endif %}"}
    -if page.link
      %a{:class => "{% if page.has_children_in_menu %}nav-top-a{% endif %}",
         :href => "={page.get_absolute_url}",
         :target => "_blank"}><
        = page.title
        - if page.has_children_in_menu
          %em.ios-web-icon><
    -else
      %a{
        :class => "{% if page.has_children_in_menu %}nav-top-a{% endif %}{% if page.is_current or page.is_current_child %} hover{% endif %}",
        :href => "{{ page.get_absolute_url }}"
        }><= page.title
          - if page.has_children_in_menu
            %em.ios-web-icon><
    - if page.has_children_in_menu
      {% page_menu page "pages/menus/web/nav-sub-li.haml" %}
  {% endif %}
  {% endif %}
