-load util_tags url_tags iossite_tags
.f18.cell-bk.rel.t-title
  %ul.l.abs.cell-bk.f16
    %li.ios-web-icon.dib.tab.tc
      %a{:href => "#"}= ranking.ranking_name
  .rel.tab-more
    %a.r.f12.mt5.more{:href => "{% url 'ranking-list' category_slug=ranking.category_slug %}"} 更多&gt;
/ t-title

.app-list-right
  %ol
    -for pkg in ranking.packages
      -with icon_url=pkg.icon dw_url=pkg|package_download_url
        {% package_url_as pkg as dt_url %}
        %li.rel
          %b.l{:class => "{% if forloop.counter <= 3 %}gr{% endif %}"}= forloop.counter
          %a.l{:href => "={dt_url}", :title => "={pkg.title}"}
            %img.lazy{"data-original" => "={icon_url}"}
              %span.ios-web-icon.abs
          %h3.n
            %a{:href => "={dt_url}", :title => "={pkg.title}" }><
              = pkg.title
          %p.g9
            {{ pkg.download_size|filesizeformat }}
            %em> |
            {{ pkg.download_count|default:0|intwordcn }}+下载
          .btn-s
            -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
            %a.a2{:href => "={dw_url}", :title => "={pkg.title}", :class => "app-download-btn-js"} 下载

/ app-list-right