-load url_tags util_tags templatehelper_tags
{% with title=package.title dw_size=package.download_size dw_count=package.download_count star=package.star category_name=package.category_name icon_url=package.icon_large_url|default:package.icon %}
{% url 'package_detail_default' pk=package.id package_name=package.package_name as dt_url %}
{% qurl package.download_url entrytype=product as dw_url %}
%dl.dib.rel.app-list-xl
  %dt.abs
    %a.pic{:href => "={dt_url}", :title => "={title}"}
      %img.lazy{"data-original" =>"={icon_url}", :alt => "={title}"}
        %span.ios-web-icon.abs
  %dd.g9.pt5
    %h3.n.rel.g3.f16
      %a{:href => "={dt_url}", :title => "={title}"}= title
    %p<
      {{ dw_size|filesizeformat }}
      %em> |
      {{ dw_count|intwordcn }}+下载
    %p= category_name
    .ios-web-icon.star{:class => "s={star|floatformat:'0'}"}
    .btn-s
      -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
      %a.a2{:href => "={dw_url}", :class => "app-download-btn-js"} 下载
{% endwith %}
