.nav .l li.rel a{padding-top:15px; height:42px;}
.head .float-three{width:30%; overflow:hidden}
.ios-switch{margin-top:50px}
.num li{float:left}
.banner .bg{top:-215px}
.ios-switch{margin-top:-80px; z-index:99}
.latest-release{left:0}
.most-expensive{right:0}