/*v1*/
.hot-news .t-title{border-bottom-color:#e53333}

.hot-news .t-title h3 .ios-web-icon{background-position:-166px -67px; left:55px}
.hot-news .time-box-t{background:url(http://static.ccplay.com.cn/static/common/img/time-line-2.png) 47px bottom no-repeat; padding-bottom:40px}
.hot-news .time-box-b{background:url(http://static.ccplay.com.cn/static/common/img/time-line-1.png) 47px 0 repeat-y}


.app-list-l .pic .ios-web-icon{background-position:0px -663px}
.most-expensive .t-title{border-bottom-color:#ccc}
.most-list{background:#f8f8f8}

.crack-rcd{padding:0 15px}
.crack-rcd .app-list-xl{width:100%; padding:0; margin-top:20px}
.crack-rcd .app-list-xl .lh20{height:40px; overflow:hidden}
.crack-rcd .app-list-xl dd{padding-left:105px}
#cc-m .crack-rcd{width:390px}

#cc-s .nav .l li{width:83px}
#cc-s .nav .drop-down a,#fixed-head #cc-s .nav .drop-down a{padding:0 20px}
#fixed-head #cc-l .search{margin-left:490px}
#fixed-head #cc-l .nav .l li{width:80px}

#fixed-head #cc-m .search{margin-left:435px}
#fixed-head #cc-m .nav .l li,#fixed-head #cc-l .nav .l li{width:8%}
#fixed-head #cc-m .nav .l li a,#fixed-head #cc-l .nav .l li a{letter-spacing:5px}
#fixed-head #cc-l .nav li .drop-down a{letter-spacing:0; padding:0 10px}