-load staticfiles pages_tags widgets templatehelper_tags
.auto.head
  .auto.width.top
    .pt10.pb10
      .cell-bk
        .inline-three.ovh.logo
          %h2
            %a.rel{:href => "/"}
              %img{:src => "{% static 'common/img/logo.png' %}", :title => "虫虫游戏 | 免费玩精品"}
                %span.trans.home
        / logo
        .inline-three.search
          {% include "iossite/includes/search_form.html" %}
        / search
        .inline-three.r.user-switch
          %ul.r
            {% cache_tagging 'product_web_headersite' 'product_web_headersite' %}
            {% widget WebHeaderSiteListWidget %}
            -for site in items
              %li><
                %a.ios-web-icon{:class => "={site.css_class}", :href => "={site.url}"}= site.name
            {% endwidget %}
            {% end_cache_tagging %}
            %li#login-reg><
              %a.ios-web-icon.a4.open-login{:href => "javascript:;", :onclick => "open_login();"}><
                登录/注册
        / user-switch
      / cell-bk
  / top

  .cell-bk.nav#nav
    .auto.rel.width
      {% page_menu "iossite/menus/navigation.haml" %}
    / width
  / nav

