-load url_tags util_tags templatehelper_tags
.f18.cell.rel.t-title
  %h3.l.n.mr30
    %span.abs.ios-web-icon>
    = title
  %a.r.f12.mt5.more{:href => "={more_url}", :target => "_blank"} 更多>
/ t-title

.latest-list.pl10.pr10
  .time-box-t
    .time-box-b
      -for package in items
        -with version=package.versions.latest_published title=version.subtitle|default:package.title
          {% absolute_url_as package product=product as detail_url %}
          %dl.cell-bk.pt15.rel.app-list-m
            %dt.abs
              %a.pic{:href => "={detail_url}", :target => "_blank" , :title => "={title}"}
                %img{:alt => "={title}", :src => "{% resource_url version 'icon' %}"}
                  %span.ios-web-icon.abs
            %dd.g9
              %h3.n.rel.g3.f14
                %a{:href => "={detail_url}", :target => "_blank" , :title => "={title}"}= title|slice:"8"
                -if version.is_android
                  %span.abs.ios-web-icon.star{:class => "s={version.stars_average|floatformat:'0'}"}
              %p
                {{ version.get_download_size|filesizeformat }}
                %em> |
                {{ version.download_count|intwordcn }}+下载
              %p
                v{{ version.version_name }}
                %em> |
                {{ version.released_datetime|date:"m-d" }}
              -#
                .btn-s
                  %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
                  %a.a2{:href => "{% download_url version product=product %}", :class => "app-download-btn-js"} 下载
    / time-box-b
  / time-box-t
/ latest-list