-extends "pc_base.haml"
-load widgets url_tags
{% block main %}
.cb.box.list_box.game

  .list_box_left.game_box
    {% widget PCSearchPackageListWidget q=request.GET.q per_page=20 page=request.GET.page %}
    .location
      搜索相关结果约{{ items.count|default:0 }}个与<span class="red">“{{ q }}”</span>相关的游戏
    / title_box

    .left_list.list
      %ul><
        -for package in items
          {% include "pages/pc/widgets/include-package-box.haml" with pacakge=package %}
      .c_b
    / left_list

    {% include "includes/pc_pagination.html" with current_page=items %}
    {% endwidget %}

  / game_box
/ game

{% endblock %}
