{% load widgets url_tags %} 
              <div class="cb page">
                {% if items.number > 1 %}
                    <a href="{% qurl request.get_full_path page=items.previous_page_number %}">上一页</a>
                  {% endif %}

                  {% if items.paginator.num_pages > 1%}
                    {% for i in limit_range %}
                    <a href="{% qurl request.get_full_path page=i %}" {% if items.number == i %}class="hover"{% endif %}>{{ i }}</a>
                    {% endfor %}
                  {% endif %}

                  {% if items.number < items.paginator.num_pages %}
                    <a href="{% qurl request.get_full_path page=items.next_page_number %}">下一页</a>
                  {% endif %}

              </div>
