{% load templateutils_tags %}
{% load util_tags %}
{% load static %}

        <div class="fl list_box_right home_{{type}}_right">



          <div class="icon title_box">

            <ul class="fl">

              <li class="li_1 hover">总榜</li>

            </ul>

          </div><!--title_box-->

          <div class="list right_list">

            <ul>
              {% for package in items %}
                {% with version=package.versions.latest_published %}
                  {% include "includes/package-detail.html" with verison=version item=item %}
                {% endwith %}
              {% endfor %}
            </ul>
          </div>


        </div>
