{% load templateutils_tags %}
{% load util_tags %}
{% load static %}

        <div class="fl list_box_left home_{{ type }}_left box-tab">

          <div class="icon title_box">

            <h3 class="fl">
              {% if type == "game" %}
                游戏
              {% elif type == 'soft' %}
                软件
              {% else %}
              {% endif %}
            </h3>
            <ul class="fl">
              {% for ele in result %}
                {% if forloop.first %}
                  <li class="li_{{ forloop.counter }} hover">{{ ele.topic_name }}</li>
                {% elif forloop.last %}
                  <li class="li_{{ forloop.counter }}">{{ ele.topic_name }}</li>
                {% else %}
                  <li class="li_{{ forloop.counter }}">{{ ele.topic_name }}</li>
                {% endif %}
              {% endfor %}
              {{ forloop.counter }}

            </ul>

            <span class="tab-more">
              {% for ele in result %}
                <a href="{{ ele.more_url }}" class="fr">更多></a>
              {% endfor %}
            </span>


          </div><!--title_box-->


          <div class="list left_list">

          {% for ele in result %}
            <ul>

              {% for item in ele.items %}
                {% with version=item.versions.latest_published %}
                  {% include "includes/package-detail.html" with verison=version item=item %}
                {% endwith %}
              {% endfor %}
            </ul>
          {% endfor %}

          </div>


        </div>



