{% load templateutils_tags %}
{% load util_tags %}
{% load static %}

        <div class="fl list_box_right home_{{type}}_right">



          <div class="icon title_box">

            <ul class="fl">

              <li class="li_1 hover">总榜</li>

            </ul>

          </div><!--title_box-->

          <div class="list right_list">

            <ul>
              {% for item in items %}
                {% with version=item.versions.latest_published %}
                  <li class="">
                  <a href="{{ item.get_absolute_iospc_url }}" class="big_pic"><img src="{{ version.icon.url }}"><span class="icon cover"></span></a>
                  <h2><a href="{{ item.get_absolute_iospc_url }}"><em class="top">{{ forloop.counter }}</em>{{ item.title }}</a></h2>
                  <div class="btn">
                  <span class="bg"></span>
                  <p>{{ version.get_download_size|default:0|filesizeformat }} | {{ item.download_count|intwordcn }}+下载</p>
                  <a href="{{ version.get_download_url }}" class="a1 install">安装</a>
                  <a href="{{ version.get_download_url }}" class="a2">下载</a>
                  </div>
                  </li>

                {% endwith %}
              {% endfor %}
            </ul>
          </div>


        </div>
