-load staticfiles
%h3<
  %b.h4bg
  = title
.ming_cont.left
  %ul
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子标题不分戏莫板块帖子标题不分行
        %img{:alt => " ", :height => "173", :src => "{% static 'images/p1.png' %}", :width => "191"}
    %li
      %a{:href => "#"}
        %ul
          %li 上海游标题不分行
        %img{:alt => " ", :height => "122", :src => "{% static 'images/p2.png' %}", :width => "191"}
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子块帖子标题不分行
        %img{:alt => " ", :height => "102", :src => "{% static 'images/p3.png' %}", :width => "191"}
  %ul
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子标题标题不分行
        %img{:alt => " ", :height => "400", :src => "{% static 'images/p4.png' %}", :width => "217"}
  %ul
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子题不分行上海游戏莫板块帖子标题不分行
        %img{:alt => " ", :height => "210", :src => "{% static 'images/p5.png' %}", :width => "347"}
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板标题不分行
        %img{:alt => " ", :height => "189", :src => "{% static 'images/p6.png' %}", :width => "347"}
  %ul
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子标题不分行上海游戏莫板块帖子标题不分行
        %img{:alt => " ", :height => "139", :src => "{% static 'images/p7.png' %}", :width => "222"}
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子标题莫板块帖子标题不分行
        %img{:alt => " ", :height => "139", :src => "{% static 'images/p8.png' %}", :width => "222"}
    %li
      %a{:href => "#"}
        %ul
          %li 上海游戏莫板块帖子标题不	行
        %img{:alt => " ", :height => "119", :src => "{% static 'images/p9.png' %}", :width => "222"}
