-extends "pages/page_web.html"
-load mezzanine_tags cache widgets url_tags util_tags templatehelper_tags web_tags comment_star_tags
{% block meta_title %}{{ version.subtitle|default:package.title }}{% endblock%}
{% block meta_keywords %}{% unique_tags_text version.tags package.tags %}{% endblock %}
{% block meta_description %}{{ package.summary }} | {{ version.whatsnew }}{% endblock %}

-block main
  {% with c_pkg=package.pk %}
  {% is_site_android as is_android %}{% is_site_ios as is_ios %}
  {% settings_value 'GC_TEMPLATE_CACHE_TIMEOUT' as TEMPLATE_CACHE_TIMEOUT %}
  {% with title=version.subtitle|default:package.title %}
  .auto.mt30.width.app-dis-page
    .cell-bk.ovh

      {% cache TEMPLATE_CACHE_TIMEOUT product_web_package_tl request.get_host request.path_info c_pkg %}
      .pb10.location>
        {% breadcrumbs_from package category=package.main_category product=product home_url='/' %}

      .cell-bk.title
        %h1.l.n.dib.tc= title
      - if is_ios
        {% download_url_as version is_dynamic=0 product=product as dw_url %}
      - else
        {% download_url_as version product=product as dw_url %}
      .l.rel.left
        .auto.rel.pic
          %img.db.auto.pt1.mt20{:height => "175px", :src => "{% resource_url version 'icon' size_alias='large' %}", :width => "175px"}
            %span.dib.abs.cover.png
        %a.mt20.db.btn.btn-green.f16.app-download-btn-js{:href => "={dw_url}"} 下载应用
        -#
          .pt20.pb30.db.pct100.btn-s
            %a.a1.install.app-download-btn-js{:href => "={dw_url}", :target => ""} 下载应用
            %a.a2{:href => "#", :target => ""} 下载到电脑
        {% if is_android %}
        .tc.pt20.p-code
          %div<
            {% absolute_url_as package product='client' as api_url %}
            {% qurl dw_url api=api_url as dwapi_url %}
            {% qurl '/qrcode/' url=dwapi_url as qr_url %}
            %img{:src => "={qr_url}", :title => "={title}"}/
          %p.gr 扫描二维码即可下载
        {% endif %}
        %ul.g9.pt20.instr
          %li<
            评分
            %span><
              .ios-web-icon.star.mr5{:class => "s={version.stars_average|default:0|floatformat:'0'}" }>
              {{ version.stars_count }}人评分
          -if is_android
            %li<
              厂商
              %span><= package.author.name
          %li<
            发布
            %span><= version.released_datetime|date
          %li<
            版本
            %span><= version.version_name
          %li<
            大小
            %span><= version.get_download_size|filesizeformat
          %li<
            类别
            %span><= package.main_categories|join:", "
          %li<
            语言
            %span><= version.language_names|join:", "
          -if version.is_ios
            %li<
              设备
              %span><= version.as_ios.device_types|join:", "
          %li<
            下载
            %span>< {{ version.download_count|intwordcn }}+

        .cell-bk.pt10.pb30.left-top-list
          {% include_widget WebRankingPackageListWidget cat_slug=package.main_category.get_root.slug per_page=10 %}
        / left-top-list
      / left-list
      {% endcache %}

      .r.right

        {% cache TEMPLATE_CACHE_TIMEOUT product_web_package_rt request.get_host request.path_info c_pkg %}
        .up.box_btn.up_box
          .up_pic
            %ul
              -if is_ios
                -for screenshot in version.screenshots.default
                  -with image=screenshot.image
                    %li><
                      %img{:src => "={image.url}", :alt => "={screenshot.alt}"}/
              -if is_android
                -for screenshot in version.screenshots.all
                  -with image=screenshot.image
                    %li><
                      %img{:src => "={image.small.url}", :alt => "={screenshot.alt}"}/
          / up_pic
          .cl.rel.a_btn{:style => "display: none;"}
            %a.ios-web-icon.abs.prev.prevStop{:href => "javascript:;", :style => "display: none;"}
            %a.ios-web-icon.abs.next{:href => "javascript:;", :style => ""}
          / a_btn
        / up
        .down
          %h3.n 应用介绍
          .text_inner= package.description|linebreaksbr
          / text_inner
          -if version.whatsnew
            %h3.n 新版特性
            .text_inner= version.whatsnew|linebreaksbr
          / text_inner

          {% widget WebPackageRelatedListWidget package=package version=version per_page=10 %}
          {% if items %}
          / 相关推荐
          .ovh.relevant-app
            %h3.n 相关推荐
            .cell-bk.tj
              -for related in items
                -with p=related.object
                  -with pv=p.versions.latest_published title=pv.subtitle|default:p.title
                    {% absolute_url_as p product=product as dt_url %}
                    .dib.rel.app-list-min<
                      %a.db.tc.f14{:href => "={dt_url}", :target => "_blank", :title => "={title}"}
                        %img.db.auto{:src => "{% resource_url pv 'icon' size_alias='middle' %}"}
                          %span.ios-web-icon.abs.db.auto
                          {{ title|slice:"5"}}
                          %i.db.n.f12.g9= p.main_category.name
                      .btn-s
                        -# %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
                        %a.a2{:href => "{% download_url pv product=product %}", :class => "app-download-btn-js"} 下载
          / 相关推荐
          {% endif %}
          {% endwidget %}
        {% endcache %}

        .down.mb30
          {% comment_star_for version %}

      / right
    / cell-bk
  {% endwith %}
  {% endwith %}
