{% extends "pages/richtextpage.html" %}
{% load staticfiles cache %}
{% load widgets url_tags %}
{% block extra_js %} <script type="text/javascript" src="{% static 'js/jquery.infinitescroll.min.js' %}"></script> {% endblock %}
{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block meta_title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}
{% block before_main %}{% include "pages/menus/breadcrumb_shortcut.haml" with latest_name=category.name %}{% endblock %}
{% block main %}
{% cache 3600 category_main request.path_info request.GET %}
<div class="sort w980">
    <div class="sort_top">
        {% include_widget CategoryTopMenuWidget slug=category.slug ordering=request.GET.ordering %}
    </div>
    <div class="scont" id="content-js">
        {% include_widget CategoryPackageListWidget slug=category.slug ordering=request.GET.ordering page=request.GET.page %}
    </div>
    {% qurl request.get_full_path ajax=1 ordering=request.GET.ordering|default:None page=page.GET.page|default:1|add:1 as next_url %}
    <div class="navigation" style="display: none;">
        <a href="{{ next_url }}"></a>
    </div>
</div>
{% endcache %}
{% endblock %}

{% block footer_js %}
<script type="text/javascript" charset="utf-8" src="{% static 'js/ccpaly.pages.js' %}"></script>
{% endblock %}
