{% extends "pages/richtextpage.html" %}
{% load staticfiles cache %}
{% load widgets %}
{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery.jslides.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
{% endblock %}
{% block before_main %}{% include "pages/menus/breadcrumb_shortcut.haml" %}{% endblock %}
{% block main %}
{% cache 3600 developers_main %}
<div class="develop w980">
{% include_widget DeveloperPackageShowcaseWidget max_developers=15 max_items=36 %}
</div>

<div class="mad01 w980">
{% include_widget HomeTopSingleAdvWidget slug='developer-bottom' %}
</div>
{% endcache %}
{% endblock %}
