{% extends "pages/richtextpage.html" %}
{% load staticfiles cache %}
{% load widgets %}
{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block before_main %}{% include "pages/menus/breadcrumb_shortcut.haml" %}{% endblock %}
{% block main %}
{% cache 86400 download_main %}
<div class="h20"></div>
<div class="down">
    {% widget ClientAppLatestDownloadWidget package_name='com.lion.market' %}
    <a href="{{ item.download.url }}">
    <div class="down_but"><input value="下载最新版" type="button" class="down_button" /></div>
    </a>
    {% endwidget %}
</div>
{% endcache %}
{% endblock %}
