{% extends "iospc_base.html" %}
{% load templateutils_tags %}
{% load widgets %}
{% block main %}

      <div class="cb box focus">

        <div class="fl focus_left">

          <div class="banner">

            <ul class="banner_ul">
        {% include_widget BannerTopleftWidget slug='banner_top_left' %}
            </ul>

          </div>

          <div class="cb banner_btn">

            <a href="javascript:void(0)" class="unslider-arrow icon prev"></a>

            <a href="javascript:void(0)" class="unslider-arrow icon next"></a>

          </div>

          <div class="num">

            <ul></ul>

          </div>

        </div><!--focus_left-->



        <div class="fl focus_right">

        {% include_widget BannerToprightWidget slug='banner_top_right' %}

        </div><!--focus_right-->

      </div><!--focus-->

      <div class="cb box list_box home_game">

          {% include_widget TopicPackageListBoxWidget slugs='home-recommend-game|home-recommend-game' type='game' %}
          {% comment %}
          {% include_widget IosPcRankingPackageListWidget type='game' %}
          {% endcomment %}

      </div>
        {% include_widget PackageListBoxWidget slug='home-recommend-game' page=1 %}
      

      <div class="cb box list_box home_soft">

        {% include_widget TopicPackageListBoxWidget slugs='topic-kuangye|topic-kuangye' type='soft' %}
          {% comment %}
        {% include_widget IosPcRankingPackageListWidget type='soft' %}
          {% endcomment %}


      </div>

        {% include_widget PackageListBoxWidget slug='home-recommend-game' page=1 %}

  {% endblock %}
