{% extends "iospc_base.html" %}
{% load templateutils_tags %}
{% block main %}

      <div class="cb box focus">

        <div class="fl focus_left">

          <div class="banner">

            <ul class="banner_ul">
              {% include "includes/ios_pc/banner.html" %}
            </ul>

          </div>

          <div class="cb banner_btn">

            <a href="javascript:void(0)" class="unslider-arrow icon prev"></a>

            <a href="javascript:void(0)" class="unslider-arrow icon next"></a>

          </div>

          <div class="num">

            <ul></ul>

          </div>

        </div><!--focus_left-->



        <div class="fl focus_right">

          111

        </div><!--focus_right-->

      </div><!--focus-->

      <div class="cb box list_box home_game">

          {% include "includes/ios_pc/list_box_left.html" with type="game" %}
          {% include "includes/ios_pc/list_box_right.html" with type="game" %}

      </div>

      {% include "includes/ios_pc/roll_box.html" with type="masterpiece" %}

      <div class="cb box list_box home_soft">

        {% include "includes/ios_pc/list_box_left.html" with type="soft" %}
        {% include "includes/ios_pc/list_box_right.html" with type="soft" %}

      </div>

      {% include "includes/ios_pc/roll_box.html" with type="verdor" %}

  {% endblock %}
