{% extends "pages/richtextpage.html" %}
{% load staticfiles cache humanize %}
{% load widgets util_tags %}
{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block meta_title %}
    {{ topic.name }} | {{ block.super }}
{% endblock %}
{% block main %}
{% cache 3600 masterpiece_main request.path_info request.GET %}
<div class="h20 clear"></div>
<div class="master w980">
    <ul>
        <li class="maone">
         {% include_widget MasterpieceInformationWidget slug=topic.slug %}
        </li>
        {% include_widget MasterpiecePackageListWidget slug=topic.slug page=request.GET.page %}
    </ul>
</div>
{% endcache %}
{% endblock %}
