{% extends "pages/richtextpage.html" %}
{% load staticfiles cache humanize %}
{% load widgets util_tags url_tags %}
{% block extra_js %}<script type="text/javascript" src="{% static 'js/jquery.infinitescroll.min.js' %}"></script>{% endblock %}
{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block meta_title %}
    {{ topic.name }} | {{ block.super }}
{% endblock %}
{% block main %}
{% cache 3600 masterpiece_main request.path_info request.GET %}
<div class="h20 clear"></div>
<div class="master w980">
    <ul id="content-js">
        <li class="maone">
         {% include_widget MasterpieceInformationWidget slug=topic.slug %}
        </li>
        {% include_widget MasterpiecePackageListWidget slug=topic.slug page=request.GET.page %}
    </ul>
    {% qurl request.get_full_path ajax=1 page=page.GET.page|default:1|add:1 as next_url %}
    <div class="navigation" style="display: none;">
        <a href="{{ next_url }}"></a>
    </div>
</div>
{% endcache %}
{% endblock %}
{% block footer_js %}
<script type="text/javascript" charset="utf-8" src="{% static 'js/ccpaly.pages.js' %}"></script>
{% endblock %}
