{% extends "pages/richtextpage.html" %}
{% load staticfiles cache %}
{% load widgets %}
{% block main_css %}<link rel="stylesheet" href="{% static 'css/cont.css' %}">{% endblock %}
{% block meta_title %}
    {{ topic.name }} | {{ block.super }}
{% endblock %}
{% block main %}
{% with page_num=request.GET.page %}
    {% cache 3600 topics_main request.path_info page_num %}
    <div class="h20 clear"></div>
    <div class="master w980">
        <ul>
            <li class="maone">
                {% include_widget TopicsInformationWidget slug=topic.slug %}
            </li>
            {% include_widget TopicsTopicListWidget slug=topic.slug page=request.GET.page %}
        </ul>
    </div>
    {% endcache %}
{% endwith %}
{% endblock %}
