-load iossite_tags url_tags templatehelper_tags
.ban_pic
  %ul.auto.tc
    -for item in items
      - with cover_url=item.cover
        %li{:style => "background:url(={cover_url}) repeat-x center"}
          %a.auto.width{:href => "{% adv_content_url item %}",
           :target => "={item.target}",
           :title => "={item.title}"}
.cell-bk.tc.rel.num
  %ul
.banner-page
  %a.arrow.prev{:href => "#"}
    %b 上一页
  %a.arrow.next{:href => "#"}
    %b 下一页
.auto.rel.bg
  .bg-t
  .abs.bg-l
  .abs.bg-r
  .abs.bg-c