{% load staticfiles %}
<!--下载应用开始 cc-ios-app-down-box dn-->
<div class="cell-bk bg-white ovh cc-ios-app-down-box dn">
    <div class="cell-bk w750 p0">
        <div class="float-two tc pt30 pb30">
            <img id="appbox-qr" src="http://static.ccplay.com.cn/static/common/img/code.png" width="170" height="170">
            <div>苹果手机扫描 快速安装</div>
            <h4 id="appbox-title" class="db red f18">游戏</h4>
        </div>
        <div class="float-two tr pt20 pb20">
            <a href="{{ product_url }}" target="_blank"><img src="{% static 'ios_web/img/pop-cc.jpg' %}"></a>
        </div>
    </div>
</div>
<!--下载应用结束 cc-ios-app-down-box dn-->