{% load templateutils_tags %}
{% load util_tags %}
{% load static %}

        <div class="fl list_box_right home_{{type}}_right">



          <div class="icon title_box">

            <ul class="fl">

              <li class="li_1">总榜</li>

            </ul>

          </div><!--title_box-->



          <div class="list right_list">


            <ul>
              {% for package in items %}
                {% with version=package.versions.latest_published %}
                {% if forloop.first %}
                <li class="hover">
                {% else %}
                <li>
                {% endif %}

                <a href="{{ version.get_absolute_url }}" class="big_pic"><img src="{{ version.icon.url}}"><span class="icon cover"></span></a>


              {% with main_category=version.package.categories.all.0 %}

              <h2><a href="{{ main_category.get_absolute_url }}"><em class="top">{{ forloop.counter }}</em> {{ package.title}}</a></h2>

                <div class="btn">

                  <span class="bg"></span>

              <p>{{ main_category.get_download_size|default:0|filesizeformat }} | {{ package.download_count|intwordcn }}+下载</p>


                  <a href="{{ main_category.get_download_url }}#" class="a1 install">安装</a>

                  <a href="{{ main_category.get_download_url }}" class="a2">下载</a>

                </div>
                {% endwith %}

                </li>
                {% endwith %}
              {% endfor %}
            </ul>
          </div>


        </div>
