{% load templateutils_tags %}

<!--合集 开始 collection-->

<div class="auto mt30 width collection">

        <div class="cell-bk">



            <div class="collection_box">            

                <div class="l">

                    <a title="链接名称" href="collection-dis.html">

                            <img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/2.jpg">

                            <h3>小色块游戏合集</h3>

                    </a>

                </div><!--l-->

                

                <div class="r">

                    <div class="pt20 btn-s-box inner">

                        <div class="inner-box">

                    {%  mkrange 1 5 as fnum %}
                    {% for i in fnum %}
                          <dl class="dib rel app-list-xl">

                              <dt class="abs"><a title="链接名称" href="game-dis.html" class="pic"><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/5.jpg"><span class="ios-web-icon abs"></span></a></dt>

                              <dd class="g9 pt5">

                                  <h3 class="n rel g3 f16"><a title="链接名称" href="game-dis.html">1名称游戏</a></h3>

                                  <p>999M<em>|</em>9999万+下载</p>

                                <p>智力游戏</p>

                                  <div class="ios-web-icon star s2"></div>

                                  <div class="btn-s">

                                        <a title="链接名称" href="#" class="a1 install">安装</a>

                                        <a title="链接名称" href="#" class="a2">下载</a>

                                  </div>

                              </dd>

                          </dl>

                    {% endfor %}
                          <dl class="more-dl">

                                    <a title="链接名称" href="collection-dis.html" class="tc db ml10 f16 gr">更多应用 ></a>

                          </dl>

                          </div><!--inner-box-->

                    </div><!--inner-->

                    

                    <div class="cb rel a_btn">

                          <a href="javascript:;" class="ios-web-icon abs prev"></a>

                          <a href="javascript:;" class="ios-web-icon abs next"></a>

                    </div>


                    <div class="cb date">更新日期：2014-04-08 | 共 21 个应用</div>

                </div><!--r-->

            </div><!--collection_box--> 


          

            <div class="cell-bk">

            

                    <div class="cl f14 page">

                            <a title="链接名称" href="#">上一页</a>

                            <a title="链接名称" href="#">1</a>

                            <a title="链接名称" href="#" class="hover">2</a>

                            <a title="链接名称" href="#">3</a>

                            <a title="链接名称" href="#">4</a>

                            <a title="链接名称" href="#">···</a>

                            <a title="链接名称" href="#">99</a>

                            <a title="链接名称" href="#">下一页</a>

                    </div>

            

            </div>



        </div><!--cell-bk-->

        

</div>

<!--合集 结束 collection-->
