-load pages_tags mezzanine_tags templatehelper_tags
-load cache future staticfiles
{% is_site_android as is_android %}{% is_site_ios as is_ios %}
!!!5
%html{:lang => '={LANGUAGE_CODE}'}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "webkit", :name => "renderer"}/
    %title {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %}_{{ settings.SITE_TITLE }}{% endif %}
    %meta{:name => "keywords", :content => "{% block meta_keywords %}{% endblock %}"}
    %meta{:name => "description", :content => "{% block meta_description %}{% endblock %}"}/
    -block extra_meta
      %meta{:name => "robots", :content => "INDEX,FOLLOW"}</
    %link{:href => "{% static 'common/img/favicon.ico' %}", :rel => "shortcut icon", :type => "image/x-icon"}/

    {% compress css %}
    %link{:href => "{% static 'css/mezzanine.css' %}", :rel => "stylesheet"}
    %link{:href => "{% static 'common/css/site-v1.css' %}", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    -block platform_css
      -if is_android
        %link{:href => "{% static 'android_web/css/site.css' %}", :media => "all", :rel => "stylesheet", :type => "text/css"}</
      -if is_ios
        %link{:href => "{% static 'ios_web/css/site.css' %}", :media => "all", :rel => "stylesheet", :type => "text/css"}</

    %link{:href => "{% static 'common/css/quick-layout.css' %}", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}{% block extra_js_header %}
    {% endblock %}{% endcompress %}

    %noscript
      %h1{:style => "font-size:100%;color:#e53333;display:block;text-align:center"} 由于您的浏览器禁用了javascript脚本，网页无法正常浏览!
  %body
    {% block top_menu %}
    / 头部开始 head
    {% page_menu "pages/menus/web/header_platform.haml" %}
    / 头部结束 head
    {% endblock %}

    {% block main %}{% endblock %}

    / 底部开始 footer
    .cell-bk.ios-web-icon.footer
      .auto.width.white
        {% include "pages/menus/web/footer.haml" %}
    / 底部结束 footer

    {% block after_footer %}
    {% endblock %}

    {% compress js %}
    %script{:src => "{% static 'common/js/jquery.min.js' %}"}
    %script{:src => "{% static 'common/js/jquery.cookie.js' %}"}
    %script{:src => "{% static 'common/js/jquery.SuperSlide.2.1.1.source.js' %}"}
    %script{:src => "{% static 'common/js/jquery.pin.js' %}"}
    %script{:src => "{% static 'common/zxxbox/js/jquery.zxxbox.3.0.js' %}"}
    %script{:src => "{% static 'common/js/Validform_v5.3.2_min.js' %}"}
    %script{:src => "{% static 'common/js/site-v1.js' %}"}
    -block platform_js
      -if is_android
        %script{:src => "{% static 'android_web/js/site.js' %}"}
      -if is_ios
        %script{:src => "{% static 'ios_web/js/site.js' %}"}
    {% block extra_js_footer %}{% endblock %}
    %script{:type => "text/javascript", :charset => "UTF-8", :src => "http://tajs.qq.com/stats?sId=34798727"}
    %span.dn
      :javascript
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9ac929da32f5d1029745f355674d8473' type='text/javascript'%3E%3C/script%3E"));
    {% endcompress %}
