-load url_tags iossite_tags
.width.ovh.roll_box
  %ul.box_ul
    - for package in items
      - with cover_url=package.cover
        %li.dib.rel
          %a{:href => "{% package_url package %}", :target => "_blank" , :title => "={package.title}"}
            %img.lazy{:alt => "={package.title}", "data-original" => "={cover_url}"}
              %span.bg
              %span.abs.tc.ovh.pl5.pr5.white.text.png= package.title
/ roll_box
.cb.rel.a_btn.roll_btn
  %a.ios-web-icon.abs.prev{:href => "javascript:;"}
  %a.ios-web-icon.abs.next{:href => "javascript:;"}
/ roll_btn

