{% extends "iospc_base.html" %}
{% load templateutils_tags %}
{% load widgets %}
{% load util_tags %}
{% load widgets url_tags %}
{% load static %}
{% block main %} 
    
<div class="cb box collection">
        {% for item in items %}
          {% with collection=item.collection %}
            <div class="collection_box">            
                <div class="fl l">
                  <a href="{{ collection.get_absolute_iospc_url }}">
                      <img src="{% static collection.cover.url %}">
                      <h3>{{ collection.name }}</h3>
                    </a>
                </div><!--l-->
                <div class="fl r">
                  <div class="inner">
                    <ul>
                      {% for pkg in item.packages %} 
                        {% with version=pkg.versions.latest_published %}
                          <li style="float: left; width: 95px;">
                          <a href="{{ pkg.get_absolute_iospc_url }}">
                                      <img src="{{ version.icon.url }}">
                                      <span class="name">{{ pkg.title }}</span>
                                      <div class="icon star s{{ version.star_average|floatformat:0}}"></div>
                                      <span class="icon cover"></span>
                              </a>
                              <div class="btn" style="display: none;">
                                  <a href="{{ version.get_download_url }}" class="a1 install">安装</a>
                                  <a href="{{ version.get_download_url }}" class="a2 ">下载</a>
                              </div>
                          </li>
                        {% endwith %}
                      {% endfor %}
                    </ul>
                    
                  </div><!--inner-->
                  
                  <div class="cb banner_btn">
                        <a href="javascript:void(0)" class="unslider-arrow icon prev prevStop" style="display: inline;"></a>
                        <a href="javascript:void(0)" class="unslider-arrow icon next" style="display: none;"></a>
                  </div>

                  <div class="cb date">更新日期：{{ collection.updated_datetime.date }} | 共 {{ item.packages.count }} 个应用</div>
                </div><!--r-->
            </div><!--collection_box--> 
            {% endwith %}
          {% endfor %} 
                    
                    
                    {% include 'includes/iospc_pagination.html' %}
                    
    
    </div>
{% endblock %}
