{% extends "iospc_base.html" %}
{% load templateutils_tags %}
{% load widgets %}
{% load util_tags %}
{% load widgets url_tags %}
{% load static %}
{% block main %} 
    
<div class="cb box collection">
    
            <div class="collection_box">            
                <div class="fl l">
                    <a href="collection_dis.html">
                            <img src="../img/2.jpg">
                            <h3>小色块游戏合集</h3>
                    </a>
                </div><!--l-->
                
                <div class="fl r">
                  <div class="inner">
                    <ul>
                        <li style="float: left; width: 95px;">
                            <a href="#">
                                    <img src="../img/4.jpg">
                                    <span class="name">小小守门员</span>
                                    <div class="icon star s4"></div>
                                    <span class="icon cover"></span>
                            </a>
                            <div class="btn" style="display: none;">
                                <a href="#" class="a1 install">安装</a>
                                <a href="#" class="a2 ">下载</a>
                            </div>
                        </li>
                    </ul>
                    
                  </div><!--inner-->
                  
                  <div class="cb banner_btn">
                        <a href="javascript:void(0)" class="unslider-arrow icon prev prevStop" style="display: inline;"></a>
                        <a href="javascript:void(0)" class="unslider-arrow icon next" style="display: none;"></a>
                  </div>

                  <div class="cb date">更新日期：2014-04-08 | 共 21 个应用</div>
                </div><!--r-->
            </div><!--collection_box--> 
            
                    
            <div class="cb page">
                    <a href="#">上一页</a>
                    <a href="#">1</a>
                    <a href="#" class="hover">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">…</a>
                    <a href="#">99</a>
                    <a href="#">下一页</a>
            </div>
    
    </div>
{% endblock %}
