{% extends "iospc_base.html" %}
{% load templateutils_tags %}
{% load util_tags %}
{% load widgets %}
{% load static %}
{% block main %} 
    
<div class="cb box list_box game">
    
            <div class="list_box_left game_box">
                    <div class="menu">
                            <ul>
                                <li><a href="#" class="icon hover">全部游戏</a></li>
                                <li><a href="#">破解</a></li>
                                <li><a href="#">大型</a></li>
                                <li><a href="#">休闲</a></li>
                                <li><a href="#">棋牌</a></li>
                                <li><a href="#">动作</a></li>
                                <li><a href="#">战略</a></li>
                                <li><a href="#">射击</a></li>
                                <li><a href="#">赛车</a></li>
                                <li><a href="#">角色</a></li>
                                <li><a href="#">冒险</a></li>
                                <li><a href="#">格斗</a></li>
                                <li><a href="#">体育</a></li>
                                <li><a href="#">网游</a></li>
                                <li><a href="#">儿童</a></li>
                            </ul>
                    </div>
                    <div class="icon title_box">
                            <ul class="fl"><!--
                                <li class="li_1 hover">全部设备</li>
                                <li class="li_2">iPhone</li>
                                <li class="li_4">iPad</li>-->
                                
                                <li class="icon li_5 hover"><span>默认筛选</span>
                                    <div class="pop_li_5 pop_menu" style="display: none;">
                                        <a href="#">精品推荐</a>
                                        <a href="#">装机必备</a>
                                        <a href="#">最新发布</a>
                                        <a href="#">许愿兑现</a>
                                        <a href="#">中文</a>
                                        <a href="#">英文</a>
                                    </div>
                                </li>
                                <li class="icon li_6"><span>默认排序</span>
                                    <div class="pop_li_6 pop_menu" style="display: none;">
                                        <a href="#">周榜</a>
                                        <a href="#">月榜</a>
                                        <a href="#">总榜</a>
                                        <a href="#">最贵</a>
                                        <a href="#">免费</a>
                                    </div>
                                </li>
                            </ul>
                    </div><!--title_box-->
                    
                    <div class="list left_list" style="position: relative; width: 805px; height: 500px;">
                            <ul style="position: absolute; width: 805px; left: 0px; top: 0px;">
                              {% for item in pkgs %}
                              {% with version=item.versions.latest_published %}
                                <li>
                                  <a href="{{ item.get_absolute_iospc_url }}" class="big_pic"><img src="{{ version.icon.url }}"><span class="icon cover"></span></a>



                                  <h2><a href="{{ item.get_absolute_iospc_url }}">{{ item.title }}</a></h2>

                                  <p>{{ version.get_download_size|default:0|filesizeformat }} | {{ item.download_count|intwordcn }}+下载</p>

                                  <p class="price">免费</p>

                                  <div class="icon star s{{ version.stars_average|floatformat:"0" }}"></div>


                                  <div class="btn">

                                    <span class="bg"></span>

                                    <a href="{{ version.get_download_url }}" class="a1 install">安装</a>

                                    <a href="{{ version.get_download_url }}" class="a2">下载</a>

                                  </div>

                                    
                                </li>
                              {% endwith %}
                              {% endfor %}
                              </ul>
                            <div class="c_b" style="position: absolute; width: 805px; left: 0px; top: 0px; display: none;"></div>
                    </div><!--list-->
                    
                    
              <div class="cb page">
                {% if pkgs.has_previous %} 
                <a href="{% url 'iospc_package_list' slug=slug page=pkgs.previous_page_number  %}">上一页</a>
                {% endif %} 
                {% for i in pg.page_range %}
                <a href="{% url 'iospc_package_list' slug=slug page=i %}">{{ i }}</a>
                {% endfor %}
                {% if pkgs.has_next %} 
                <a href="{% url 'iospc_package_list' slug=slug page=pkgs.next_page_number %}">下一页</a>
                {% endif %} 
              </div>
                    
            </div><!--game_box-->
            
    
    </div>

    
    {% endblock %}
