<!DOCTYPE html>
{% load static pages_tags %}
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>首页</title>

<link href="{% static 'PC/css/site.css' %}" media="all" rel="stylesheet" type="text/css" />

<noscript>

    <h1 style="font-size:100%;color:#e53333;display:block;text-align:center">由于您的浏览器禁用了javascript脚本，网页无法正常浏览!</h1>

</noscript>

</head>

<body>


<div class="warp">

    {% page_menu "pages/menus/iospc_header.html" %}
    {% block main %} {% endblock %}

  </div><!--warp-->
<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>

<script src="{% static 'common/js/jquery.SuperSlide.2.1.1.source.js' %}"></script>

<script src="{% static 'PC/js/site.js' %}"></script>

<script>
    $('div.list_box_left ul.fl li').click(
      function() {
        $(this).siblings().removeClass('hover');
        $(this).addClass('hover');
        $(this).parents('div.list_box_left').find('div.left_list').css('display', 'none').filter('.tab_'+$(this).index()).css('display', 'block');
        console.log($(this).parents('div.list_box_left').find('div.left_list').filter('.tab_'+$(this).index()));
    });
    

</script>


<!--[if IE 6]>

<script src="{% static 'common/js/DD_PNG.js' %}"></script>

<script>

window.onload = function()

{

DD_belatedPNG.fix(".icon,.icon:hover");

}

</script>

<![endif]-->

</body>

</html>
