{% load cache static pages_tags %}
{% cache 3600 product_pc request.get_host request.path_info request.GET %}
!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=EmulateIE7, IE=9", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
      %meta{:content => "webkit", :name => "renderer"}
        %title {% block meta_title %}{% endblock %}
        %link{:href => "{% static 'PC/css/site.css' %}", :media => "all", :rel => "stylesheet", :type => "text/css"}/
        %noscript
          %h1{:style => "font-size:100%;color:#e53333;display:block;text-align:center"} 由于您的浏览器禁用了javascript脚本，网页无法正常浏览!
  %body
    .warp
      {% page_menu page.parent "pages/pc/menu/header.haml" %}
      {% block main %}{% endblock %}
    / warp
    %script{:src => "http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"}
    %script{:src => "{% static 'common/js/jquery.SuperSlide.2.1.1.source.js' %}"}
    %script{:src => "{% static 'PC/js/site.js' %}"}
    /[if IE 6]
      <script src="{% static 'common/js/DD_PNG.js' %}"></script>
      <script>window.onload = function() { DD_belatedPNG.fix(".icon,.icon:hover"); }</script>
{% endcache %}
