<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>注册-虫虫游戏</title>
<link rel="shortcut icon" href="http://static.ccplay.com.cn/static/common/img/favicon.png" type="image/png" />
<link rel="icon" href="http://static.ccplay.com.cn/static/common/img/favicon.ico" type="image/x-icon" />
<link href="http://static.ccplay.com.cn/static/common/css/site-v1.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://static.ccplay.com.cn/static/ios_web/css/site.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://static.ccplay.com.cn/static/common/css/quick-layout.css" media="all" rel="stylesheet" type="text/css" />
</head><noscript>
    <h1 style="font-size:100%;color:#e53333;display:block;text-align:center">由于您的浏览器禁用了javascript脚本，网页无法正常浏览!</h1>
</noscript>

<body>

<!--头部开始 head-->
<div class="auto head login">
    
    <!--导航开始 nav-->
    <div class="cell-bk nav">
    	<div class="auto rel width">
        
              <div class="l ovh logo">
                  <h2><a title="链接名称" href="index.html" class="user-icon rel"><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/logo.png"></a></h2>
              </div><!--logo-->
                    
                    
              <div class="l pt1 f18">
              		<h1 class="n f28 white pt5 mt2">用户注册</h1>
              </div><!--l-->
              
              <div class="abs pt10 mt2 f14">
              		<a title="链接名称" href="index.html" class="dib p5">返回首页</a>
              </div><!--abs-->
        </div><!--width-->
    </div>
    <!--导航结束 nav-->
</div>
<!--头部结束 head-->



<!--注册 开始 reg-page-->
<div class="auto width reg-page">
		<div class="cell-bk ovh">
        
        			<div class="box">
                    	<form class="cell-bk reg-box rel reg-form" method="post" action="{% url 'mainsite_register' %}">                        	
                          {% csrf_token %}
                        	<div class="abs f14 tc cell-bk login-tip"></div>
                        	<div class="p20 g6 f16 fw">
                            	<div class="tc p15 mb15 ask-login">已拥有帐号，请直接<a title="链接名称" href="login.html" class="gr ml5">登录</a></div>
                                
                        		<dl class="pb10"> 
                                	<dt class="l r-name"><label class="dib w100 tr pt5 mt2">用户名</label></dt><dd class="rel" ><input name="username" class="pct100 bg-white pl10 bg-white bde pt10 pb10 f16" type="text" placeholder="4-16位字符" id="p-id" datatype="*4-16" ajaxurl=""></dd>
                                </dl> 
                                <dl class="pb10"> 
                                	<dt class="l r-pw"><label class="dib w100 tr pt5 mt2">登录密码</label></dt><dd class="rel" ><input name="password" class="pct100 bg-white pl10 bg-white bde pt10 pb10 f16" type="password" plugin="passwordStrength" placeholder="6-16登录密码" id="p-password" datatype="*6-16">
                                    	<div id="pw-strength" class="abs g9">
                                        	<span class="s-1">●</span><span class="s-2">●</span><span class="s-3">●</span>
                                        </div>
                                    </dd>
                                </dl> 
                                <dl class="pb10"> 
                                	<dt class="l r-pw-2"><label class="dib w100 tr pt5 mt2">确认密码</label></dt><dd class="rel" ><input name="password-confirm" class="pct100 bg-white pl10 bg-white bde pt10 pb10 f16" type="password" placeholder="再次确认登录密码" id="p-password2" recheck="password" datatype="*"></dd>
                                </dl> 
                                <dl class="pb10"> 
                                	<dt class="l r-email"><label class="dib w100 tr pt5 mt2">邮箱地址</label></dt><dd class="rel" ><input name='email' class="pct100 bg-white pl10 bg-white bde pt10 pb10 f16" type="text" placeholder="常用的电子邮箱" id="p-email" datatype="*"></dd>
                                </dl> 
                                <dl class="pb15"> 
                                	<dt class="l r-yzm"><label class="dib w100 tr pt5 mt2">验证码</label></dt><dd class="rel verify" ><input class="pct40 bg-white pl10 bg-white bde pt10 pb10 f16" type="text" placeholder="4位验证码" maxlength="4" datatype="*4-4" id="p-yzm"><img alt="图片名称" src="#" width="90px" height="37px" class="abs yzm-img"><a title="链接名称" href="#"  class="dib ml5 gr pt10 r f12">看不清？</a></dd>
                                </dl>
                                
                                
                                <dl class="pb20"> 
                                	<dt class="l dib w100"></dt><dd class="f12"><label class="l"><input name="agreement" type="checkbox"> 我已阅读并同意</label><a title="链接名称" href="agreement.html" target="_blank" class="red">《虫虫游戏使用协议》</a></dd>
                                </dl>
                                
                                <dl class="pb20"> 
                                	<dt class="l dib w100"></dt><dd class="f12"><button class="db pct80 btn btn-red f16 poi reg-btn">立即注册</button></dd>
                                </dl>
                                
                           </div>
                                
                                  <div class="pb20 tc g6 f16 dn">
                                        <div class="rel bte login-line"><span class="dib p5 rel f12">您也可以用以下方式登录</span></div>
                                        <a title="链接名称" href="#" class="qq-login"><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/qq-btn.png"></a>
                                        <a title="链接名称" href="#" class="ml10 weibo-login"><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/weibo-btn.png"></a>                            
                                  </div>
                                
               
                        </form>
                        
                    </div>
        
        </div><!--cell-bk-->
</div>
<!--注册 结束 reg-page-->




<!--底部开始 footer-->
<div class=" cell-bk ios-web-icon footer">

		<div class="auto width white">
        		<div class="float-five f-1">
                		<dl>
                        	<dt class="f14">关于我们</dt>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/ios_web/html/about.html">公司简介</a></dd>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/ios_web/html/vision.html">发展愿景</a></dd>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/ios_web/html/contact.html">联系方式</a></dd>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/ios_web/html/job.html">诚聘英才</a></dd>
                        </dl>
                </div>
        		<div class="float-five f-2">
                		<dl>
                        	<dt class="f14">关注我们</dt>
                            <dd><a title="链接名称" href="http://weibo.com/ccyxpt" class="ios-web-icon i-1">新浪微博</a></dd>
                            <dd><a title="链接名称" href="http://t.qq.com/ccyxpt" class="ios-web-icon i-2">腾讯微博</a></dd>
                            <dd class="weixin-code"><a title="链接名称" href="#" class="ios-web-icon i-3">官方微信</a><img class="dn abs" src="http://static.ccplay.com.cn/static/common/img/cc-weixin-code.png"></dd>
                        </dl>                
                </div>
        		<div class="float-five tc f-3">
                		<a title="链接名称" href="#" class="ios-web-icon f-logo"></a>
                </div>
        		<div class="float-five tl f-4">
                		<dl class="r">
                        	<dt class="f14">虫虫客户端</dt>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/cc_web/html/down.html" class="ios-web-icon i-4">iPhone版下载</a></dd>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/cc_web/html/down.html" class="ios-web-icon i-5">Android版</a></dd>
                            <dd><a title="链接名称" href="http://static.ccplay.com.cn/static/cc_web/html/down.html" class="ios-web-icon i-6">电脑客户端</a></dd>
                        </dl>  
                </div>
        		<div class="float-five tr f-5">
                		<dl>
                            <dd class="g9">扫描二维码即可下载</dd>
                            <dd><img alt="图片名称" src="http://static.ccplay.com.cn/static/common/img/code.png"></dd>
                        </dl> 
                </div>
                <div class="cl tc pt20">Copyright © <script type="text/javascript">var yearStr;now = new Date();yearStr = now.getFullYear();document.write(yearStr);</script> www.ccplay.com.cn. All Rights Reserved</div>
        </div>

</div>
<!--底部结束 footer-->




<!--<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>-->
<script src="http://static.ccplay.com.cn/static/common/js/jquery.min.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/jquery.SuperSlide.2.1.1.source.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/jquery.pin.js"></script>
<script src="http://static.ccplay.com.cn/static/common/js/Validform_v5.3.2_min.js"></script>

<script src="http://static.ccplay.com.cn/static/common/js/site-v1.js"></script>
<script src="http://static.ccplay.com.cn/static/ios_web/js/site.js"></script>

<script>

  $(function(){

    var time = (new Date()).getTime();
    $('.verify img').attr('src', '{% url "captcha" %}?t=' + time);

    $('.verify a').click(function() {
      var time = (new Date()).getTime();
      $(this).siblings('img').attr('src', '{% url "captcha" %}?t=' + time);
      return false;

    });

    var token = $('form.reg-form input[name="csrfmiddlewaretoken"]').val();
    var old_username, old_email;
    var username_validate_tip, email_validate_tip;

    var show_tip = function(msg) {
      $('.login-tip').removeClass('Validform_right').removeClass('Validform_wrong').addClass('Validform_wrong').text(msg);
    };

    var ajax_check_username = function(username) {
      old_username = username;

      $.ajax({
        type: "POST",
        url: {% url 'check_register_username' %},
        data: { username: username, csrfmiddlewaretoken: token},
        success: function(data){
          if (data.exists === 1){
            username_validate_tip = '用户名已经存在!';
            show_tip(username_validate_tip);
          } else {
            username_validate_tip = '';
          }
        }
      });
    };

    var ajax_check_email = function (email) {
      old_email = email;

      $.ajax({
        type: "POST",
        url: {% url 'check_register_email' %},
        data: {email: email, csrfmiddlewaretoken: token},
        success: function(data){
          if (data.exists === 1){
            email_validate_tip = '邮箱已经存在!';
            show_tip(email_validate_tip);
          } else {
            email_validate_tip = '';
          }
        }
      });
    };

    var check_email_format = function (email) {
      var re = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      if (re.test(email)) {
        email_validate_tip = '';
      } else {
        email_validate_tip = '邮箱格式错误！';
      }
    };


    $('#p-id').bind('blur', function() {
      var username = $(this).val();
      if (username && username !== old_username) {
        ajax_check_username(username);
      }
    });

    $('#p-email').bind('blur', function() {
      var email = $(this).val();
      check_email_format(email);
      if (email && email !== old_email) {
        if (!email_validate_tip) {
          ajax_check_email(email);
        }
      }
    });

    $('.reg-btn').bind('click', function() {
      var username = $('#p-id').val();
      var password = $('#p-password').val();
      var password_confrim = $('#p-password2').val();
      var email = $('#p-email').val();
      var agreement = $('form.reg-form input[type="checkbox"]').prop('checked');
      var verify_code = $('#p-yzm').val();

      if (!username) {
        show_tip('用户名不能为空 !');
        return false;
      }  
      
      if (!password) {
        show_tip('密码不能为空 !');
        return false;
      }
     
      if (!password_confrim) {
        show_tip('确认密码不能为空 !');
        return false;
      }

      if (password !== password_confrim) {
        show_tip('两次输入密码不一致 !');
        return false;
      }

      if (!email) {
        show_tip('邮箱不能为空 !');
        return false;
      }

      if (!verify_code) {
        show_tip('验证码不能为空！');
        return false;
      }

      if (!agreement) {
        show_tip('请阅读并同意《虫虫游戏使用协议》！');
        return false;
      }

      if (username_validate_tip) {
        show_tip(username_validate_tip);
        return false;
      }

      if (email_validate_tip) {
        show_tip(email_validate_tip);
        return false;
      }
      
    });
    
  });
</script>
</body>
</html>
