{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{% block meta_title %}{{ object.title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'android_cc/css/site.css' %}?1415689350750"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{% static 'android_cc/css/ie_site.css' %}?1415689350750"/>
    <![endif]-->
</head>
<body>
{% block main %}{% endblock %}
</body>
</html>
