{% extends "mobapi2/activity/base.html" %}
{% load staticfiles %}
{% block main %}
<div class="rich_media">
    <div class="rich_media_inner winners">
        <img src="{% static 'android_cc/img/wheel_winners.jpg' %}" class="banner">
        <div class="list">
            <table>
                <tbody>
                <tr>
                    <th>抽奖账号</th>
                    <td>{{ winning.user.username }}</td>
                </tr>
                <tr>
                    <th>抽中奖品</th>
                    <td>{{ winning.prize }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        友情提示：<br/>
                        获得实物奖品后请务必填写详细的
                        联系方式，否则视为放弃领取奖品；<br/>
                        QQ：2802586192<br/>
                        邮箱：service@ccplay.com.cn
                    </td>
                </tr>

                </tbody></table>
        </div>
    </div>
</div>
{% endblock %}
