{% load url_tags %}
<div class="cl f14 page" data-page="{{ current_page.number|default:1 }}" data-url="{{ paginator_url }}">{% if current_page.has_previous or current_page.has_next %}
    {% if current_page.has_previous %}
        <a href="javascript:;" onclick="page_load('{{ load_selector }}', $(this).parent(), {{ current_page.previous_page_number|default:1 }});">上一页</a>
    {% endif %}
    {% for p in current_page.visible_page_range %}
        {% if p == current_page.number %}
        <a href="javascript:;" class="hover">{{ p }}</a>
        {% else %}
        <a href="javascript:;" onclick="page_load('{{ load_selector }}', $(this).parent(), {{ p|default:1}});">{{ p }}</a>
        {% endif %}
    {% endfor %}
    {% if current_page.has_next %}
        <a href="javascript:;" onclick="page_load('{{ load_selector }}', $(this).parent(), {{ current_page.next_page_number|default:1 }});">下一页</a>
    {% endif %}
{% endif %}</div>

