-load url_tags
:javascript

  new function(){

      dom = [];

      dom.isReady = false;

      dom.isFunction = function(obj){

          return Object.prototype.toString.call(obj) === "[object Function]";

      };

      dom.Ready = function(fn){

          dom.initReady();//如果没有建成DOM树，则走第二步，存储起来一起杀

          if(dom.isFunction(fn)){

              if(dom.isReady){

                  fn();//如果已经建成DOM，则来一个杀一个

              }else{

                  dom.push(fn);//存储加载事件

              }

          }

      };

      dom.fireReady =function(){

          if (dom.isReady)  return;

          dom.isReady = true;

          for(var i=0,n=dom.length;i<n ;i++){

              var fn = dom[i];

              fn();

          }

          dom.length = 0;//清空事件

      };

      dom.initReady = function(){

          if (document.addEventListener) {

              document.addEventListener( "DOMContentLoaded", function(){

                  document.removeEventListener( "DOMContentLoaded", arguments.callee, false );//清除加载函数

                  dom.fireReady();

              }, false );

          }else{

              if (document.getElementById) {

                  document.write("<script id=\"ie-domReady\" defer='defer'src=\"//:\">< \/script>");

                  document.getElementById("ie-domReady").onreadystatechange = function() {

                      if (this.readyState === "complete") {

                          dom.fireReady();

                          this.onreadystatechange = null;

                          this.parentNode.removeChild(this)

                      }

                  };

              }

          }

      };
      dom.Ready(function(){
      var load_box = $("{{ load_selector }}");
      window.load_box = load_box;
      function page_load(dom, p){
        url = $(dom).attr('data-url');
        if( !url ){
          return false
        }
        $.ajax({
          type:'get',
          url:url,
          data:{
            page:p
          },
          dataType:'html',
          success:function(data){
            load_box.html(data);
          }
        });
        return false;
      }
      window.page_load = page_load;

      })
  }

-if current_page.has_previous or current_page.has_next
  .cl.f14.page{data-url:"={paginator_url}"}><
    -if current_page.has_previous
      %a{:href => "javascript:;",
         :onclick => "page_load($(this).parent(), {{ current_page.previous_page_number|default:1 }});"
        } 上一页
    -for p in current_page.visible_page_range
      -if p == current_page.number
        %a{:href => "javascript:;", :class => "hover"}><= p
      -else
        %a{:href => "javascript:;",
           :onclick => "page_load($(this).parent(), {{ p|default:1}});"}><= p
    -if current_page.has_next
      %a{:href => "javascript:;",
         :onclick => "page_load($(this).parent(), {{ current_page.next_page_number|default:1 }});"
       } 下一页

