{% extends "pages/android/base.html" %}
{% load templateutils_tags %}
{% load widgets %}

{% block main %}

<!--广告开始 banner-->
{% include_widget HomeTopBannersWidget slug='android-home-top-banner' %}
<!--广告结束 banner-->

<!--巨作开始 masterpiece-->
{% include_widget HomeMasterpiecePackageListWidget slug='game-masterpiece' %}
<!--巨作结束 masterpiece-->

<!--最新发布 热点资讯 最贵应用 multi-->
<div class="auto rel width multi">
	<div class="cell-bk">
    <!--首发破解-->
    {% include_widget CategorizedPackageListWidget slug='crack-game' %}
    <!--首发破解-->
          
    <!--最新发布-->
    {% include_widget LatestPackageListWidget slug='game' %}
    <!--最新发布-->
          
    {% include_widget HomeTopicsPackageListWidget slug='home-network-game' %}
    
    </div><!--cell-bk-->
</div>
<!--最新发布 热点资讯 最贵应用  结束 multi-->


<!--广告-->
{% include_widget HomeTopAdWidget slug='android-home-top-ad' %}
<!--广告-->


<!--游戏 game-->
<div class="auto mt20 width game">
		<div class="rel cell-bk app-box">
          {% include_widget HomeTabsPackageListWidget cat="game" slugs='home-recommend-game|homebar-basic-installed|latest_published' %}
          {% include_widget HomeRankingPackageListWidget cat="game" %}
                
        </div><!--app-box-->

</div>
<!--游戏 结束 game-->


<!--广告-->
{% include "pages/android/home/home-advertise.html" %}
<!--广告-->


<!--软件 soft-->
<div class="auto mt30 width soft">
		<div class="rel cell-bk app-box">
          {% include_widget HomeTabsPackageListWidget cat="application" slugs='home-recommend-game|homebar-basic-installed|latest_published' %}
          {% include_widget HomeRankingPackageListWidget cat="application" %}
      
     </div><!--app-box-->

</div>
<!--软件 结束 soft-->


<!--广告-->
    {% include "pages/android/home/home-advertise.html" %}
<!--广告-->



<!--厂商 热帖 新手 开始 bbs-->
<div class="auto width bbs">
	<div class="rel cell-bk">
    
    {% include "pages/android/home/hot-bbs.html" %}
    
    {% include "pages/android/home/vendor-lists.html" %}
    
    {% include "pages/android/home/novice-bbs.html" %}
    
    </div><!--cell-bk-->
</div>
<!--厂商 热帖 新手 结束 bbs-->


<!--友情链接 开始 i-link-->
    {% include "pages/android/home/home-i-link.html" %}
<!--友情链接 结束 i-link-->

{% endblock %}
