{% extends "pages/android/base.html" %}
{% load templateutils_tags %}
{% load widgets %}

{% block main %}

<!--广告开始 banner-->
{%  include_widget AndoridHomeTopBannerWidget with slug='android-home-top-banner' %}
<!--广告结束 banner-->

<!--巨作开始 masterpiece-->
{%  include "pages/android/home/masterpiece.html" %}
<!--巨作结束 masterpiece-->

<!--最新发布 热点资讯 最贵应用 multi-->
<div class="auto rel width multi">
	<div class="cell-bk">
    <!--首发破解-->
    {% include "pages/android/home/first-publish-crack.html" %}
    <!--首发破解-->
          
    <!--最新发布-->
    {% include "pages/android/home/latest-release.html" %}
    <!--最新发布-->
          
    {% include "pages/android/home/selected-webgames.html" %}
    
    </div><!--cell-bk-->
</div>
<!--最新发布 热点资讯 最贵应用  结束 multi-->


<!--广告-->
{% include "pages/android/home/home-advertise.html" %}
<!--广告-->


<!--游戏 game-->
<div class="auto mt20 width game">
		<div class="rel cell-bk app-box">
          {% include "pages/android/home/left-tab-box.html" %}
          {% include "pages/android/home/right-ranking-box.html" %}
                
        </div><!--app-box-->

</div>
<!--游戏 结束 game-->


<!--广告-->
{% include "pages/android/home/home-advertise.html" %}
<!--广告-->


<!--软件 soft-->
<div class="auto mt30 width soft">
		<div class="rel cell-bk app-box">
          {% include "pages/android/home/left-tab-box.html" %}
          {% include "pages/android/home/right-ranking-box.html" %}
      
     </div><!--app-box-->

</div>
<!--软件 结束 soft-->


<!--广告-->
    {% include "pages/android/home/home-advertise.html" %}
<!--广告-->



<!--厂商 热帖 新手 开始 bbs-->
<div class="auto width bbs">
	<div class="rel cell-bk">
    
    {% include "pages/android/home/hot-bbs.html" %}
    
    {% include "pages/android/home/vendor-lists.html" %}
    
    {% include "pages/android/home/novice-bbs.html" %}
    
    </div><!--cell-bk-->
</div>
<!--厂商 热帖 新手 结束 bbs-->


<!--友情链接 开始 i-link-->
    {% include "pages/android/home/home-i-link.html" %}
<!--友情链接 结束 i-link-->

{% endblock %}
