.matop.bg20
  .matoptxt.right
    %span
      %b= month_items_count
      本月
    %span
      %b= total_items_count
      累计
  = topic.name
%h4.bg27 标签
.matxt.bgc6
  %a#bg67{:href => "#"} 全部
  %a{:href => "#"} 万众瞩目
  %a{:href => "#"} 标签底随文字变宽
  %a{:href => "#"} 首发破解