-load util_tags url_tags pc_tags
.icon.title_box
  %ul.fl
    %li.li_1.hover= ranking.title
/ title_box
.list.right_list
  %ul
    -for package in items
      -with version=package.versions.latest_published title=package.title
        %li{:class => "{% if forloop.first %}hover{% endif %}"}><
          {% absolute_url_as package product="pc" as detail_url %}
          -with version=package.versions.latest_published
            %a.big_pic{:href => "={detail_url}", :alt => "={title}"}
              %img{:src => "{% resource_url version 'icon' %}", :alt => "={title}"}
                %span.icon.cover
            %h2
              %a{:href => "={detail_url}", :title => "={title}"}>
                %em{:class => "{% if forloop.counter <= 3 %}top{% endif %}"}= forloop.counter
                = title
            {% version_data_as version entrytype='pc' as json %}
            .btn{"data-json" => "={json}" }><
              %span.bg
              %p {{ version.get_download_size|filesizeformat }} | {{ version.download_count|default:0|intwordcn }}+下载
              %a.a1.install{:href => "javascript:;", :class => "app-install-btn-js"} 安装
              %a.a2{:href => "javascript:;", :class => "app-download-btn-js"} 下载
