Django==1.5.2
South==0.8.2
django-filter
django-reversion
django-suit
django-mptt==0.6.0
django-extensions
django-model-utils
Pillow>=2.1.0
djrill
markdown
html5lib
html2text
sh
six
pytz
django-sizefield
#-e git+git://github.com/Soaa-/django-nested-inlines.git#egg=django-nested-inlines
django-rest-swagger
djangorestframework==2.3.7
#django-userena
django-comments-xtd==1.2a1

# django-admin-user-status dependents
#django-qsstats-magic>=0.6.1
#python-dateutil==1.5
#django-chart-tools>=0.2.1
#django-admin-user-stats
pysolr
django-haystack

django-redis
django-redis-sessions

mongoengine

# **for support py3**
https://github.com/killuavx/django-static-precompiler/archive/support/py3.zip#egg=django-static-precompiler

# haml templatetags
https://github.com/killuavx/HamlPy/archive/support/py3.zip#egg=HamlPy
djaml