Django==1.5.2
South==0.8.2
django-reversion
django-suit
django-mptt==0.6.0
django-extensions
django-model-utils
Pillow>=2.1.0
djrill
markdown
html5lib
html2text
six
django-sizefield
#-e git+git://github.com/Soaa-/django-nested-inlines.git#egg=django-nested-inlines
django-rest-swagger
djangorestframework
-e git+https://github.com/clelland/MySQL-for-Python-3.git#egg=MySQLdb
